{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogTitle": "Open source Xamu style system"
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}