// Forward here to minimize imports
@forward "../../utils/module";

@use "../../utils/module";
@use "sass:math";

// icon & svgIcon
//
// @group SharedStyles
@mixin icon-styles {
	width: auto;
	height: 1em;
	font-size: 1rem;
	&:not(.#{module.$prefix__default}--logo):not(.#{module.$prefix__default}--width-auto) {
		width: 1em;
	}

	// icon margin
	//
	// @group Modifiers
	&.#{module.$prefix__default}--m,
	&.#{module.$prefix__default}--margin {
		&:not(:first-child) {
			margin-left: 0.4em;
		}
		&:not(:last-child) {
			margin-right: 0.4em;
		}
	}

	// icon size
	//
	// @group Modifiers
	@for $i from 2 through 10 {
		&.#{module.$prefix__default}--size-#{$i*5} {
			font-size: math.div($i, 3) * 1rem;
		}
	}
}

@mixin svg-active-styles {
	--cl: var(--cl-a, #{module.$color__text});
	&.#{module.$prefix__default}--logo {
		--cl: var(--cl-l, #{module.color(primary)});
	}
}
