// flex growth and shrink
//
// @group GlobalModifiers
.--flx {
	&-fit {
		@include extend-viewports-classes {
			flex: 0 0 auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&,
	&-auto {
		@include extend-viewports-classes {
			flex: 1 1 auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

// flexbox justify content
//
// @group GlobalModifiers
.--flxJustify {
	&-end {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: flex-end;
			}
			&.grd {
				justify-items: flex-end;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: flex-end;
			}
		}
	}
	&-start {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: flex-start;
			}
			&.grd {
				justify-items: flex-start;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: flex-start;
			}
		}
	}
	&-around {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: space-around;
			}
			&.grd {
				justify-items: space-around;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: space-around;
			}
		}
	}
	&-evenly {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: space-around; // for unsupported browsers
				justify-content: space-evenly;
			}
			&.grd {
				justify-items: space-around; // for unsupported browsers
				justify-items: space-evenly;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: space-around; // for unsupported browsers
				justify-self: space-evenly;
			}
		}
	}
	&-between {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: space-between;
			}
			&.grd {
				justify-items: space-between;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: space-between;
			}
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: center;
			}
			&.grd {
				justify-items: center;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: center;
			}
		}
	}
}

// flexbox align items
//
// @group GlobalModifiers
.--flxAlign {
	&-end {
		@include extend-viewports-classes {
			&:not(.--flxSelf) {
				align-items: flex-end;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				align-self: flex-end;
			}
		}
	}
	&-start {
		@include extend-viewports-classes {
			&:not(.--flxSelf) {
				align-items: flex-start;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				align-self: flex-start;
			}
		}
	}
	&-stretch {
		@include extend-viewports-classes {
			&:not(.--flxSelf) {
				align-items: stretch;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				align-self: stretch;
			}
		}
	}
	&-baseline {
		@include extend-viewports-classes {
			&:not(.--flxSelf) {
				align-items: baseline;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				align-self: baseline;
			}
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			&:not(.--flxSelf) {
				align-items: center;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				align-self: center;
			}
		}
	}
}

// flexbox shortcuts: Set justify-content & align-items
//  Justify Space between...
//
// @group GlobalUnions
.--flx-between {
	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: space-between;
			}
			&.grd {
				justify-items: space-between;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: space-between;
			}
		}
	}
}

//  Justify space around...
//
// @group GlobalUnions
.--flx-around {
	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: space-around;
			}
			&.grd {
				justify-items: space-around;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: space-around;
			}
		}
	}
}

//  Justify space evenly...
//
// @group GlobalUnions
.--flx-evenly {
	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: space-around; // for unsupported browsers
				justify-content: space-evenly;
			}
			&.grd {
				justify-items: space-around; // for unsupported browsers
				justify-items: space-evenly;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: space-around; // for unsupported browsers
				justify-self: space-evenly;
			}
		}
	}
}

// Justify center...
//
// @group GlobalUnions
.--flx-center {
	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: center;
			}
			&.grd {
				justify-items: center;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: center;
			}
		}
	}
}

.--flx-between,
.--flx-around,
.--flx-evenly,
.--flx-center {
	// default
	@include extend-viewports-classes {
		&:not(.--flxSelf) {
			align-items: center;
		}
		&.grd > .--flxSelf,
		&.--flxSelf {
			align-self: center;
		}
	}
}

//  Justify flex start...
//
// @group GlobalUnions
.--flx-start {
	// default
	@include extend-viewports-classes {
		&:not(.--flxSelf) {
			align-items: flex-start;
		}
		&.grd > .--flxSelf,
		&.--flxSelf {
			align-self: flex-start;
		}
	}

	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: flex-start;
			}
			&.grd {
				justify-items: flex-start;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: flex-start;
			}
		}
	}
}

// Justify flex-end...
//
// @group GlobalUnions
.--flx-end {
	// default
	@include extend-viewports-classes {
		&:not(.--flxSelf) {
			align-items: flex-end;
		}
		&.grd > .--flxSelf,
		&.--flxSelf {
			align-self: flex-end;
		}
	}

	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			&:not(.grd):not(.--flxSelf) {
				justify-content: flex-end;
			}
			&.grd {
				justify-items: flex-end;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				justify-self: flex-end;
			}
		}
	}
}
.--flx-start,
.--flx-center,
.--flx-end,
.--flx-between,
.--flx-around,
.--flx-evenly {
	&-start {
		@include extend-viewports-classes {
			&:not(.--flxSelf) {
				align-items: flex-start;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				align-self: flex-start;
			}
		}
	}
	&-center {
		@include extend-viewports-classes {
			&:not(.--flxSelf) {
				align-items: center;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				align-self: center;
			}
		}
	}
	&-end {
		@include extend-viewports-classes {
			&:not(.--flxSelf) {
				align-items: flex-end;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				align-self: flex-end;
			}
		}
	}
	&-stretch {
		@include extend-viewports-classes {
			&:not(.--flxSelf) {
				align-items: stretch;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				align-self: stretch;
			}
		}
	}
	&-baseline {
		@include extend-viewports-classes {
			&:not(.--flxSelf) {
				align-items: baseline;
			}
			&.grd > .--flxSelf,
			&.--flxSelf {
				align-self: baseline;
			}
		}
	}
}
