@use "sass:math";

// text tranform
//
// @group GlobalModifiers
.--txtTransform {
	&-lower,
	&-lowercase {
		@include extend-viewports-classes(false, $viewports) {
			text-transform: lowercase;
		}
	}
	&-upper,
	&-uppercase {
		@include extend-viewports-classes(false, $viewports) {
			text-transform: uppercase;
		}
	}
	&-capitalize {
		@include extend-viewports-classes(false, $viewports) {
			text-transform: capitalize;
		}
	}
	// default
	&,
	&-none {
		@include extend-viewports-classes(false, $viewports) {
			text-transform: none;
		}
	}
}

// text wrap
//
// @group GlobalModifiers
.--txtWrap {
	&-nowrap {
		@include extend-viewports-classes(false, $viewports) {
			white-space: nowrap;
		}
	}
	// default
	&,
	&-wrap {
		@include extend-viewports-classes(false, $viewports) {
			white-space: pre-line;
		}
	}
}

// text style
//
// @group GlobalModifiers
.--txtStyle {
	&-normal {
		@include extend-viewports-classes(false, $viewports) {
			font-style: normal;
		}
	}
	&-oblique {
		@include extend-viewports-classes(false, $viewports) {
			font-style: oblique;
		}
	}
	// default
	&,
	&-italic {
		@include extend-viewports-classes(false, $viewports) {
			font-style: italic;
		}
	}
}

// font weight
//
// @group GlobalModifiers
.--txtWeight {
	&-bold {
		@include extend-viewports-classes(false, $viewports) {
			font-weight: weight(bold);
			@supports (-moz-appearance: none) {
				// firefox fix
				font-weight: weight(bold-alt);
			}
		}
	}
	&,
	&-regular {
		@include extend-viewports-classes(false, $viewports) {
			font-weight: weight();
			@supports (-moz-appearance: none) {
				// firefox fix
				font-weight: weight(regular-alt);
			}
		}
	}
}

// text align flex
//
// @group FamilyGlobalModifiers
.--txtAlignFlx {
	&-right {
		@include extend-viewports-classes(false, $viewports) {
			&,
			> :not(p):not([class*="-txtA"]):not(.flx):not(.grd) {
				align-items: flex-end;
			}
		}
	}
	&-center {
		@include extend-viewports-classes(false, $viewports) {
			&,
			> :not(p):not([class*="-txtA"]):not(.flx):not(.grd) {
				align-items: center;
			}
		}
	}
	&-justify {
		@include extend-viewports-classes(false, $viewports) {
			&,
			> :not(p):not([class*="-txtA"]):not(.flx):not(.grd) {
				align-items: stretch;
			}
		}
	}
	// default
	&,
	&-left {
		@include extend-viewports-classes(false, $viewports) {
			&,
			> :not(p):not([class*="-txtA"]):not(.flx):not(.grd) {
				align-items: flex-start;
			}
		}
	}
	&,
	&-left,
	&-justify,
	&-center,
	&-right {
		@include extend-viewports-classes(false, $viewports) {
			&:not(table):not(thead):not(tbody) {
				// Gaping
				display: inline-flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
			}
		}
	}
}

// text align
//
// @group FamilyGlobalModifiers
.--txtAlign,
.--txtAlignFlx {
	&-right {
		@include extend-viewports-classes(false, $viewports) {
			&,
			*:not([class*="-txtA"]) {
				text-align: right;
			}
		}
	}
	&-center {
		@include extend-viewports-classes(false, $viewports) {
			&,
			*:not([class*="-txtA"]) {
				text-align: center;
			}
		}
	}
	&-justify {
		@include extend-viewports-classes(false, $viewports) {
			&,
			*:not([class*="-txtA"]) {
				text-align: justify;
			}
		}
	}
	// default
	&,
	&-left {
		@include extend-viewports-classes(false, $viewports) {
			&,
			*:not([class*="-txtA"]) {
				text-align: left;
			}
		}
	}
}

// text size
//
// @group GlobalModifiers
.--txtSize,
.--txtSize-normal {
	@include extend-viewports-classes(false, $viewports) {
		font-size: size();
	}
}
@each $name, $size in $fontSizes {
	.--txtSize-#{$name} {
		@include extend-viewports-classes(false, $viewports) {
			font-size: $size;
		}
	}
}

// COLOR RELATED

// Text color
.--txtColor {
	&,
	> :not([class*="-txtCo"]) {
		// Color
		color: $textColor;
	}
}

// Shadow color
.--txtShadow {
	&,
	> :not([class*="-txtSh"]) {
		// Shadow
		text-shadow: 1px 1px 1px color(dark, 0.3);
	}
}

// text color & text shadow & background color & borderColor
// color based modifiers
//
// @group ColorGlobalModifiers
@each $name, $color in $colors {
	// text color
	.--txtColor-#{$name} {
		@include extend-viewports-classes(false, $viewports) {
			&,
			> :not([class*="-txtCo"]) {
				// Color
				color: color($name);
			}
		}
	}

	// text shadow
	.--txtShadow-#{$name} {
		@include extend-viewports-classes(false, $viewports) {
			&,
			> :not([class*="-txtSh"]) {
				// Shadow
				text-shadow: 1px 1px 1px color($name);
			}
		}
	}

	// shades of color
	@for $i from 1 through 9 {
		// text color
		.--txtColor-#{$name}#{$i} {
			@include extend-viewports-classes(false, $viewports) {
				&,
				> :not([class*="-txtCo"]) {
					// Shadow
					color: color($name, math.div($i, 10));
				}
			}
		}

		// text shadow
		.--txtShadow-#{$name}#{$i} {
			@include extend-viewports-classes(false, $viewports) {
				&,
				> :not([class*="-txtSh"]) {
					// Shadow
					text-shadow: 1px 1px 1px color($name, math.div($i, 10));
				}
			}
		}
	}
}
