@import "box-model";
@import "dimensions";
@import "text";
@import "gaping";
@import "flexbox";
@import "colors";

// hidden element, hide visually only
//
// @group GlobalModifiers
.--hidden {
	@include extend-viewports-classes(true, $viewports) {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		&:first-child + {
			i.icon,
			.svg {
				margin-left: 0;
			}
		}
	}
	&-full {
		@include extend-viewports-classes(true, $viewports) {
			display: none !important;
			&:first-child + {
				i.icon,
				.svg {
					margin-left: 0;
				}
			}
		}
	}
}

// positon
//
// @group GlobalModifiers
.--position {
	&-fixed {
		@include extend-viewports-classes {
			position: fixed;
		}
	}
	&-sticky {
		@include extend-viewports-classes {
			position: sticky;
			left: 0;
			top: 0;
		}
	}
	&-relative {
		@include extend-viewports-classes {
			position: relative;
		}
	}
	&-absolute {
		@include extend-viewports-classes {
			position: absolute;
		}
	}
	// default
	&,
	&-static {
		@include extend-viewports-classes {
			position: static;
		}
	}
}

// clear
//
// @group GlobalModifiers
.--clear {
	@include extend-viewports-classes {
		clear: both;
	}
}

// float
//
// @group GlobalModifiers
.--float {
	&-right {
		@include extend-viewports-classes {
			float: left;
		}
	}
	&,
	&-left {
		@include extend-viewports-classes {
			float: left;
		}
	}
}

// order
//
// @group GlobalModifiers
.--order {
	@include extend-viewports-classes(false, $viewports) {
		order: 1;
	}
}

// z index
//
// @group GlobalModifiers
.--index {
	@include extend-viewports-classes {
		z-index: 999;
	}
}

@for $i from 1 through 10 {
	.--order-#{$i} {
		@include extend-viewports-classes(false, $viewports) {
			order: #{$i};
		}
	}
	.--index-#{$i} {
		@include extend-viewports-classes {
			z-index: #{$i};
		}
	}
}
