/** @format */

/// column container
///
/// @group Layouts
.x-columns {
	overflow: hidden;
	gap: 2rem;

	/// Column count
	///
	/// @group Modifiers
	/// default
	&:not([class*="m__count"]),
	&.m__count-2 {
		columns: $minColumnSize 2;
	}

	> * {
		// margin: 0;
		// display: inline-block;
		break-inside: avoid;
	}
	&:not([class*="xm__itemSpacing"])
		> :not([class*="xm__marginBottom"]):not(:last-child):not(br) {
		margin-bottom: 2rem;
	}
}
