/** @format */

/// column container
///
/// @group Layouts
.x-cols {
	@include extend-interactions {
		columns: var(--cc, initial); // count
	}
}
.x-cols {
	/// Column count
	///
	/// @group Modifiers
	@for $i from 3 through 12 {
		&.m__count-#{$i} {
			@include extend-viewports-classes {
				--cc: #{$minColumnSize/$i * 3} #{$i};
			}
		}
	}
	/// default
	&.m__count,
	&.m__count-2,
	&:not([class*="__co"]) {
		/// Count
		--cc: #{$minColumnSize/2 * 3} 2;
	}

	> * {
		// margin: 0;
		// display: inline-block;
		break-inside: avoid;
	}
	&:not([class*="__gapi"]) > :not(br):not(:last-child):not([class*="__mB"]) {
		/// Gaping, Bottom
		margin-bottom: 2rem;
	}
}
