/** @format */

/// dropdown
///
/// @group Components
.x-dropdownToggler {
	&:hover,
	&.is_active {
		i.x-icon {
			@include transform(rotate(180deg));
		}
		~ .x-dropdown {
			display: block;
		}
	}
}
.x-dropdown {
	z-index: 15;
	padding: 1rem;
	border-radius: 1rem;
	background: color(light);
	box-shadow: 3px 3px 9px color(dark, 0.3);
	position: absolute;
	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
	}
	&:not(:hover) {
		display: none;
	}

	/// Position
	///
	/// @group Modifiers
	/// Right
	&.u__position-right {
		&,
		&-top,
		&-center,
		&-bottom {
			left: calc(100% + 0.5rem);
			&:before {
				left: -0.5rem;
				top: 0;
			}
		}
	}
	/// Left
	&.u__position-left {
		&,
		&-top,
		&-center,
		&-bottom {
			right: calc(100% + 0.5rem);
			&:before {
				right: -0.5rem;
				top: 0;
			}
		}
	}
	/// Right & Left
	&.u__position-right,
	&.u__position-left {
		&,
		&-top {
			/// Default right position
			top: -1rem;
		}
		&-center {
			top: 50%;
			@include transform(translateY(-50%));
		}
		&-bottom {
			bottom: -1rem;
		}
	}
	/// Top
	&.u__position-top {
		&,
		&-left,
		&-right,
		&-center {
			bottom: calc(100% + 0.5rem);
			&:before {
				left: 0;
				bottom: -0.5rem;
			}
		}
	}
	/// Bottom
	&.u__position-bottom {
		&,
		&-left,
		&-right,
		&-center {
			top: calc(100% + 0.5rem);
			&:before {
				right: 0;
				top: -0.5rem;
			}
		}
	}
	/// Top & Bottom
	&.u__position-top,
	&.u__position-bottom {
		&,
		&-left {
			/// Default bottom position
			left: -1rem;
		}
		&-right {
			right: -1rem;
		}
		&-center {
			left: 50%;
			@include transform(translateX(-50%));
		}
	}
	/// default: bottom-left
	&:not([class*="u__position"]) {
		left: -1rem;
		top: calc(100% + 0.5rem);
		&:before {
			right: 0;
			top: -0.5rem;
		}
	}

	a {
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
	}
}
