/** @format */

/// flex container
///
/// @group Layouts
.x-flx {
	@include extend-interactions {
		display: flex;
	}
}

/// flex inline container
///
/// @group Layouts
.x-flxInline {
	@include extend-interactions {
		display: inline-flex;
		position: static; /// why?
	}
}

/// flexbox container
[class*="x-flx"] {
	/// flexbox row container
	///
	/// @group Modifiers
	&.m__flxRow {
		&,
		&-wrap,
		&-reverse,
		&-nowrap {
			@include extend-viewports {
				flex-direction: row;
			}
		}
	}
	&.m__flxRowReverse {
		&,
		&-wrap,
		&-reverse,
		&-nowrap {
			@include extend-viewports {
				flex-direction: row-reverse;
			}
		}
	}
	&.m__flxRow,
	&.m__flxRowReverse {
		/// default
		&,
		&-nowrap {
			@include extend-viewports {
				&:not([class*="__gaping"]) > :not(br):not(:last-child) {
					&:not([class*="__m"]),
					&[class*="__min"],
					&[class*="__max"] {
						margin-right: 1rem;
					}
				}
			}
		}
	}

	/// flexbox column container
	///
	/// @group Modifiers
	&.m__flxColumn {
		&,
		&-wrap,
		&-reverse,
		&-nowrap {
			@include extend-viewports {
				flex-direction: column;
			}
		}
	}
	&.m__flxColumnReverse {
		&,
		&-wrap,
		&-reverse,
		&-nowrap {
			@include extend-viewports {
				flex-direction: column-reverse;
			}
		}
	}
	&.m__flxColumn,
	&.m__flxColumnReverse {
		/// default
		&,
		&-nowrap {
			@include extend-viewports {
				&:not([class*="__gaping"]) > :not(br):not(:last-child) {
					&:not([class*="__m"]),
					&[class*="__min"],
					&[class*="__max"] {
						margin-bottom: 1rem;
					}
				}
			}
		}
	}

	/// an union could be a shorter solution, but is a huge breaking change
	&.m__flxRow,
	&.m__flxColumn,
	&.m__flxRowReverse,
	&.m__flxColumnReverse {
		&-wrap {
			@include extend-viewports {
				flex-wrap: wrap;
			}
		}
		&-reverse {
			@include extend-viewports {
				flex-wrap: wrap-reverse;
			}
		}
		&-wrap,
		&-reverse {
			@include extend-viewports {
				&:not([class*="__gaping"]) {
					/// this is a very special class to omit this specific fix
					&:not(.unfix__gaping) {
						margin: -0.1px -1rem -1rem -0.1px;
						box-sizing: border-box;
					}
					> :not(br) {
						&:not([class*="__m"]),
						&[class*="__min"],
						&[class*="__max"] {
							&:not([class*="__flxRow-wrap"]):not([class*="__flxColumn-wrap"]) {
								margin-bottom: 1rem;
								margin-right: 1rem;
							}
						}
					}
				}
			}
		}
		/// default
		&,
		&-nowrap {
			@include extend-viewports {
				flex-wrap: nowrap;
			}
		}
	}
}
