/** @format */

/// flex container
///
/// @group Layouts
.x-flx {
	@include extend-interactions {
		display: flex;
	}
}

/// flex inline container
///
/// @group Layouts
.x-flxInline {
	@include extend-interactions {
		display: inline-flex;
		position: static; /// why?
	}
}

/// flexbox container
[class*="x-flx"] {
	/// flexbox row container
	///
	/// @group Modifiers
	&.m__flxRow {
		&,
		&-wrap,
		&-reverse,
		&-nowrap {
			@include extend-viewports-classes {
				flex-direction: row;
			}
		}
	}
	&.m__flxRowReverse {
		&,
		&-wrap,
		&-reverse,
		&-nowrap {
			@include extend-viewports-classes {
				flex-direction: row-reverse;
			}
		}
	}
	&.m__flxRow,
	&.m__flxRowReverse {
		/// default
		&,
		&-nowrap {
			@include extend-viewports-classes {
				&:not([class*="__gapi"]) > :not(br):not(:last-child) {
					/// Gaping
					&:not([class*="__m"]),
					&[class*="__min"],
					&[class*="__max"] {
						margin-right: var(--g, 1rem);
					}
				}
			}
		}
	}

	/// flexbox column container
	///
	/// @group Modifiers
	&.m__flxColumn {
		&,
		&-wrap,
		&-reverse,
		&-nowrap {
			@include extend-viewports-classes {
				flex-direction: column;
			}
		}
	}
	&.m__flxColumnReverse {
		&,
		&-wrap,
		&-reverse,
		&-nowrap {
			@include extend-viewports-classes {
				flex-direction: column-reverse;
			}
		}
	}
	&.m__flxColumn,
	&.m__flxColumnReverse {
		/// default
		&,
		&-nowrap {
			@include extend-viewports-classes {
				&:not([class*="__gapi"]) > :not(br):not(:last-child) {
					/// Gaping
					&:not([class*="__m"]),
					&[class*="__min"],
					&[class*="__max"] {
						margin-bottom: var(--g, 1rem);
					}
				}
			}
		}
	}

	/// an union could be a shorter solution, but is a huge breaking change
	&.m__flxRow,
	&.m__flxColumn,
	&.m__flxRowReverse,
	&.m__flxColumnReverse {
		&-wrap {
			@include extend-viewports-classes {
				flex-wrap: wrap;
			}
		}
		&-reverse {
			@include extend-viewports-classes {
				flex-wrap: wrap-reverse;
			}
		}
		&-wrap,
		&-reverse {
			@include extend-viewports-classes {
				&:not([class*="__gapi"]) {
					/// Gaping
					/// this is a very special class to omit this specific fix
					&:not(.unfix__gaping) {
						--gc: calc(-1 * var(--g, 1rem)); // calculated gap
						margin: -0.1px var(--gc) var(--gc) -0.1px;
						box-sizing: border-box;
						&:last-child > :first-child:last-child {
							// only child, text nodes can break this
							margin: 0;
						}
					}
					> :not(br) {
						&:not([class*="__m"]),
						&[class*="__min"],
						&[class*="__max"] {
							&[class*="__txtWr"]:not([class*="__flx"]),
							&:not([class*="-wrap"]):not([class*="-reverse"]) {
								margin-bottom: var(--g, 1rem);
								margin-right: var(--g, 1rem);
							}
						}
					}
				}
			}
		}
		/// default
		&,
		&-nowrap {
			@include extend-viewports-classes {
				flex-wrap: nowrap;
			}
		}
	}
}
