/** @format */

/// limita el ancho de los elementos en el contenidos
///
/// @group Layouts
.x-holder {
	margin: 0 auto;
	width: 100%;
	// display: block;
	&:not(.m__padding-none) {
		padding: 0 1rem;
		@include box-sizing(border-box);
	}
}
