// avatar proporcion 1:1
//
// @group Components
.avatar {
	// avatar size
	//
	// @group Modifiers
	&,
	&.--size {
		width: 3rem;
		height: 3rem;
	}
	&.--size-lg {
		width: 9rem;
		height: 9rem;
	}
	&.--size-md {
		width: 6rem;
		height: 6rem;
	}

	img {
		width: 100%;
		height: 100%;
	}
}
