@use "sass:meta";

// avatar proporcion 1:1
//
// @group Components
.avatar {
	// avatar size
	//
	// @group Modifiers
	@function avatarSizeSelector($name) {
		@return ".--size-#{$name}";
	}
	@include extend-map-modifiers(
			$elementSizes,
			meta.get-function("avatarSizeSelector"),
			sm
		)
		using($name, $value) {
		width: $value;
		height: $value;
	}

	img {
		width: 100%;
		height: 100%;
	}
}
