// back component
//
// @group Components
.x-back {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: background 0.3s ease-out;

	&:not([class*="__in"]) {
		// Index
		z-index: -1;
	}

	&:not([class*="__po"]) {
		// Position
		position: absolute;
	}

	&.is__header {
		top: -5rem;
		height: auto;
		bottom: 0;
		background-color: color(secondary);
		@media (min-width: $viewportMd + 1) {
			background-attachment: fixed;
			@supports (-webkit-overflow-scrolling: touch) {
				// ios fix
				background-attachment: scroll;
			}
			&:before {
				height: 7.4rem;
				background: transparent;
				@include linear-gradient(
					to bottom,
					color(dark, 0.3),
					transparent
				);
			}
			&:after {
				width: 70%;
				display: block;
			}
		}
		&:before {
			display: block;
			background: color(dark, 0.3);
		}
		&:after {
			display: none;
			@include linear-gradient(to right, color(dark, 0.5), transparent);
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	img,
	video {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		object-position: 50% 50%;
	}
}
