@use "sass:meta";

// Comment
//
// @group Components
.box {
	// width: 100%;
	border: 2px solid transparent;
	overflow: visible;
	&:disabled,
	&[disabled]:not([disabled="false"]) {
		pointer-events: none;
		opacity: 0.3;
	}
	&:not(.--bttn):not(.--button) {
		&:not([class*="-p-"]):not([class*="-pT"]):not([class*="-pR"]):not([class*="-pB"]):not([class*="-pL"]):not([class*="-pY"]):not([class*="-pX"]) {
			padding: 1rem;
		}
	}
	&:not(.flx):not(.Inline) {
		@include flexbox(column, nowrap, flex-start, stretch);
		> :not([class*="-mB"]):not(:last-child) {
			// Bottom
			margin-bottom: 1rem;
		}
	}

	// size
	//
	// @group Modifiers
	&,
	&.--size {
		border-radius: 1rem;
	}
	&.--size-lg {
		border-radius: 1.667rem;
	}
	&.--size-md {
		border-radius: 1.333rem;
	}

	// Comment theme
	//
	// @group Modifiers
	@function boxThemeSelector($name) {
		@return ".--tm-#{$name}";
	}
	@include extend-map-modifiers(
			$extendedThemeColors,
			meta.get-function("boxThemeSelector"),
			secondary,
			':not([class*="-tm-"])'
		)
		using($name, $value) {
		&:not([class*="-bgCo"]) {
			background: color($name, 0.1);
		}
		&:hover {
			border-color: color($name, 0.1);
		}
		&:hover,
		&.is--active,
		&.is--routeExact:not(.no--route):not(.no--routeExact) {
			&.--bttn,
			&.--button {
				background: color($name, 0.2);
				// border-color: color($name, 0.3);
				.box {
					box-shadow: 3px 3px 9px color($name, 0.3);
				}
			}
		}
		&.--bttn,
		&.--button {
			&:not([class*="-txtCo"]) {
				// Color
				color: color($name);
			}
		}
	}

	&.--tm-lightComplement {
		&:not([class*="-bgCo"]) {
			background: color(light);
		}
		&:hover {
			border-color: color(dark, 0.1);
		}
		&:hover,
		&.is--active,
		&.is--routeExact:not(.no--route):not(.no--routeExact) {
			&.--bttn,
			&.--button {
				background: color(light, 0.2);
				// border-color: color(light, 0.3);
				.box {
					box-shadow: 3px 3px 9px color(light, 0.3);
				}
			}
		}
		&.--bttn,
		&.--button {
			&:not([class*="-txtCo"]) {
				// Color
				color: color(light);
			}
		}
	}

	// button behavior
	//
	// @group Modifiers
	&.--bttn,
	&.--button {
		padding: 0.8rem;
		.box {
			border-color: transparent !important;
		}
		p {
			text-align: center;
		}
	}

	.box {
		border-radius: 1rem;

		// Square shape
		// this assummes there is only one child
		//
		// @group Modifiers
		@function boxSquareSelector($name) {
			@return ".--square-#{$name}";
		}
		@include extend-map-modifiers(
				$elementSizes,
				meta.get-function("boxSquareSelector"),
				md
			)
			using($name, $value) {
			width: $value;
			margin: 0 auto;
			overflow: hidden;
			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 0;
				padding-bottom: 100%;
			}
			> * {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
