// Toggle button
// this element is expected to be an <button>, <a> or <label> element
// aditionally you have to provide a fas(solid) far(regular) icons
//
// @group Components
.bttnToggle {
	--cl-a: var(--cl);
	&.is--alert:after {
		background-color: var(--bg, transparent);
	}

	&.is--alert,
	&.is--active,
	&.is--routeExact {
		//hide regular
		&,
		.bttnToggle-icon {
			i.icon,
			.svg {
				&:first-of-type {
					display: none;
					&:first-child + * {
						margin-left: 0;
					}
				}
			}
		}
	}
	&:not(.is--alert):not(.is--active):not(.is--routeExact) {
		//hide solid
		&,
		.bttnToggle-icon {
			i.icon,
			.svg {
				&:last-of-type {
					display: none;
				}
			}
		}
	}

	// button theme
	// first value is the bgColor
	// second value is the textColor
	//
	// @group Modifiers
	&.--tm {
		&-dark7 {
			--cl: #{color(dark, 0.7)};
			--bg: #{color(dark, 0.1)};
			&:hover {
				--bc: #{color(dark, 0.3)};
			}
			&.is--alert,
			&.is--active {
				--bg: #{color(dark, 0.5)};
			}
			&.is--alert:after {
				--bc: #{color(dark, 0.7)};
				--bg: #{color(light)};
			}
			&.is--routeExact {
				--cl: #{color(light)};
				--bg: #{color(dark, 0.5)};
				--bc: #{color(light, 0.3)};
			}
		}
		&-light {
			--cl: #{color(light)};
			--bg: #{color(light, 0.1)};
			&:hover {
				--bc: #{color(light, 0.3)};
			}
			&.is--alert:after {
				--bg: #{color(light)};
				--bc: #{color(light)};
			}
			&.is--alert,
			&.is--active {
				--bg: #{color(light, 0.5)};
			}
			&.is--routeExact {
				--cl: #{color(light)};
				--bg: #{color(light, 0.5)};
				--bc: #{color(light, 0.3)};
			}
		}
		&-lightAlt {
			--cl: #{color(light)};
			--bg: #{color(primaryAlt, 0.1)};
			&:hover {
				--bc: #{color(primaryAlt, 0.3)};
			}
			&.is--alert:after {
				--bg: #{color(light)};
				--bc: #{color(dark, 0.3)};
			}
			&.is--alert,
			&.is--active {
				--bg: #{color(primaryAlt, 0.5)};
			}
			&.is--routeExact {
				--cl: #{color(light)};
				--bg: #{color(primaryAlt, 0.5)};
				--bc: #{color(light, 0.3)};
			}
		}
		&-primaryAlt {
			--cl: #{color(primaryAlt)};
			--bg: #{color(primaryAlt, 0.1)};
			&:hover {
				--bc: #{color(primaryAlt)};
			}
			&.is--alert:after {
				--bg: #{color(light)};
				--bc: #{color(dark, 0.3)};
			}
			&.is--alert,
			&.is--active {
				--bg: #{color(primaryAlt, 0.5)};
			}
			&.is--routeExact {
				--cl: #{color(light)};
				--bg: #{color(primaryAlt, 0.5)};
				--bc: #{color(light, 0.3)};
			}
		}
		&-danger {
			--cl: #{color(danger)};
			--bg: #{color(danger, 0.1)};
			&:hover {
				--bc: #{color(danger)};
			}
			&.is--alert:after {
				--bg: #{color(light)};
				--bc: #{color(dark, 0.3)};
			}
			&.is--alert,
			&.is--active {
				--bg: #{color(danger, 0.5)};
			}
			&.is--routeExact {
				--cl: #{color(light)};
				--bg: #{color(danger, 0.5)};
				--bc: #{color(light, 0.3)};
			}
		}
		&-success {
			--cl: #{color(success)};
			--bg: #{color(success, 0.1)};
			&:hover {
				--bc: #{color(success)};
			}
			&.is--alert:after {
				--bg: #{color(light)};
				--bc: #{color(dark, 0.3)};
			}
			&.is--alert,
			&.is--active {
				--bg: #{color(success, 0.5)};
			}
			&.is--routeExact {
				--cl: #{color(light)};
				--bg: #{color(success, 0.5)};
				--bc: #{color(light, 0.3)};
			}
		}
	}
	// default theme
	&:not([class*="-tm"]),
	&.--tm-secondary {
		--cl: #{color(secondary)};
		--bg: #{color(secondary, 0.1)};
		&:hover {
			--bc: #{color(secondary, 0.3)};
		}
		&.is--alert:after {
			--bg: #{color(light)};
			--bc: #{color(secondary)};
		}
		&.is--alert,
		&.is--active {
			--bg: #{color(secondary, 0.5)};
		}
		&.is--routeExact {
			--cl: #{color(light)};
			--bg: #{color(secondary)};
			--bc: #{color(light, 0.3)};
		}
	}

	> span {
		display: block;
		line-height: 1em;
	}
}
