// Default button element
// this element is expected to be an <button>, <a> or <label> element
//
// @group Components
// button round handling
:not([class*="toggle__"]) > :not([class*="toggle__"]) {
	&.x-btn.m__round {
		@include extend-viewports-classes(true, $viewports) {
			:not(:last-child) {
				display: none;
			}
			:not(:nth-child(2)) {
				display: none;
			}
		}
	}
}

// Toggle button Vertical
// this element is expected to be an <button>, <a> or <label> element
//
// @group Components
.x-btnY {
	padding: 0.8rem 0.2rem;
	border-radius: 0.4rem;
	border-width: 2px;
	&:disabled,
	&[disabled] {
		pointer-events: none;
	}
}
