// Default button element
// this element is expected to be an <button>, <a> or <label> element
//
// @group Components
// button round handling
:not([class*="toggle--"]) > :not([class*="toggle--"]) {
	&.btn.--round {
		@include extend-viewports-classes(true, $viewports) {
			:not(:only-child) {
				&:not(:last-child),
				&:not(:nth-child(2)) {
					display: none;
				}
			}
		}
	}
}

// Toggle button Vertical
// this element is expected to be an <button>, <a> or <label> element
//
// @group Components
.btnY {
	padding: 0.8rem 0.2rem;
	border-radius: 0.4rem;
	border-width: 2px;
	&:disabled,
	&[disabled] {
		pointer-events: none;
	}
}
