// emoji item
//
// @group Components
.x-emoji {
	display: inline;
	width: 1.4em;
	height: 1.4em;
	margin-bottom: -0.3em;
	font-size: inherit;
	user-select: none; // unselectable
	touch-action: manipulation; // disables tap zoom
}
