@use "sass:meta";

// Delimiter
//
// @group Components
hr {
	box-sizing: border-box;
	&.--hrX {
		@function hrXThemeSelector($name) {
			@return ".--tm-#{$name}";
		}
		@include extend-viewports-classes(true, $viewports) {
			// max-height: 2px;
			height: 2px;
			width: 100%;
			&:not([class*="--m"]) {
				height: 2px;
				width: calc(100% + 1rem);
				margin: 0 -0.5rem;
			}

			// Tema del delimitador
			//
			// @group Modifiers
			@include extend-map-modifiers(
					$extendedThemeColors,
					meta.get-function("hrXThemeSelector"),
					secondary,
					':not([class*="-tm-"])'
				)
				using($name, $value) {
				background-image: url("#{$ruleSvgPathX}#{str-replace(#{$value}, '#')}#{$ruleSvgPathEnd}");
			}
		}
	}
	&.--hrY {
		@function hrYThemeSelector($name) {
			@return ".--tm-#{$name}";
		}
		@include extend-viewports-classes(true, $viewports) {
			// max-width: 2px;
			width: 2px;
			height: 100%;
			&:not([class*="--m"]) {
				width: 2px;
				height: calc(100% + 1rem);
				margin: -0.5rem 0;
			}

			// Tema del delimitador
			//
			// @group Modifiers
			@include extend-map-modifiers(
					$extendedThemeColors,
					meta.get-function("hrYThemeSelector"),
					secondary,
					':not([class*="-tm-"])'
				)
				using($name, $value) {
				background-image: url("#{$ruleSvgPathY}#{str-replace(#{$value}, '#')}#{$ruleSvgPathEnd}");
			}
		}
	}
	&.--hrX,
	&.--hrY {
		@include extend-viewports-classes(true, $viewports) {
			opacity: 0.2;
			background-repeat: round;
			background-position: 50% 50%;
			flex: 0 0 auto;
			display: block;
			&:last-child:not(:nth-child(2)):not(:only-child) {
				display: none;
			}
		}
	}
	// default: horizontal
	&:not([id]):not([class]) {
		// max-height: 2px;
		width: calc(100% + 1rem);
		height: 2px;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		opacity: 0.2;
		background-repeat: round;
		background-position: 50% 50%;
		flex: 0 0 auto;
		background-image: url("#{$ruleSvgPathX}#{str-replace(#{$secondary}, '#')}#{$ruleSvgPathEnd}");
		display: block;
		&:last-child:not(:nth-child(2)):not(:only-child) {
			display: none;
		}
	}
}
