// Checkbox
//
// @group Components
input[type^="c"].x-inCheckbox {
	display: none;
	+ label {
		color: var(--cl, #{color(secondary)});
		&:after {
			content: "";
			vertical-align: middle;
			display: inline-block;
			width: 1.8rem;
			height: 1.8rem;
			border-radius: 0.7rem;
			border-width: 2px;
			border-style: solid;
			font-family: family(awesome);
			font-weight: 900;
			text-align: center;
			line-height: 1.7rem;
			box-sizing: border-box;
			background-color: var(--bg, #{color(secondary, 0.1)});
			border-color: var(--bc, #{color(secondary, 0.1)});
		}
		&:hover {
			--cl: #{color(secondary, 0.7)};
			&:after {
				--bc: #{color(secondary, 0.3)};
			}
		}

		> * {
			margin-right: 0.5em;
		}
	}
	&:checked + label {
		font-weight: weight(bold);
		&:after {
			content: "\f00c";
			// color: var(--cl, color(light));
			--bg: #{color(secondary, 0.5)};
		}
	}
	&:disabled,
	&[disabled] {
		+ label {
			opacity: 0.3;
			pointer-events: none;
		}
	}
	&:not(:disabled),
	&:not([disabled]) {
		+ label {
			&:hover {
				cursor: pointer;
			}
		}
	}

	// Full width
	//
	// @group Modifiers
	&.m__full + label {
		width: 100%;
		@include flexbox(row, nowrap, space-between, center);
	}

	// Checkbox theme
	//
	// @group Modifiers
	&.m__tm-light {
		+ label {
			--cl: #{color(light)};
			&:after {
				--bg: color(light, 0.1);
				--bc: color(light, 0.1);
			}
			&:hover {
				--cl: color(light, 0.7);
				&:after {
					--bc: color(light, 0.3);
				}
			}
		}
		&:checked + label:after {
			// color: color(light);
			--bg: color(light, 0.5);
		}
	}
}
