// radio input
input[type^="r"].iRadio {
	+ label:after {
		border-radius: 50%;
	}

	&:checked + label:after {
		content: "\f111";
	}
}

// checkbox input
input[type^="c"].iCheckbox {
	+ label:after {
		border-radius: 0.7rem;
	}

	&:checked + label:after {
		content: "\f00c";
	}
}

// Toggle input
// radio & checkbox
//
// @group Components
input[type^="r"].iRadio,
input[type^="c"].iCheckbox {
	display: none;
	+ label {
		&:after {
			content: "";
			vertical-align: middle;
			display: inline-block;
			width: 1.8rem;
			height: 1.8rem;
			border-width: 2px;
			border-style: solid;
			font-family: family(awesome);
			font-weight: 900;
			text-align: center;
			line-height: 1.7rem;
			box-sizing: border-box;
		}

		> * {
			margin-right: 0.5em;
		}
	}
	&:checked + label {
		font-weight: weight(bold);
	}
	&:disabled,
	&[disabled] {
		+ label {
			opacity: 0.3;
			pointer-events: none;
		}
	}
	&:not(:disabled),
	&:not([disabled]) {
		+ label:hover {
			cursor: pointer;
		}
	}

	// Full width
	//
	// @group Modifiers
	&.--full + label {
		width: 100%;
		@include flexbox(row, nowrap, space-between, center);
	}

	// Radio theme
	//
	// @group Modifiers
	&.--tm-light {
		+ label {
			color: color(light);
			&:after {
				background-color: color(light, 0.1);
				border-color: color(light, 0.1);
			}
			&:hover {
				color: color(light, 0.7);
				&:after {
					border-color: color(light, 0.3);
				}
			}
		}
		&:checked + label:after {
			background-color: color(light, 0.5);
		}
	}
	// default
	&:not([class*="-tm"]),
	&.--tm-secondary {
		+ label {
			color: color(secondary);
			&:after {
				background-color: color(secondary, 0.1);
				border-color: color(secondary, 0.1);
			}
			&:hover {
				color: color(secondary, 0.7);
				&:after {
					border-color: color(secondary, 0.3);
				}
			}
		}
		&:checked + label:after {
			background-color: color(secondary, 0.5);
		}
	}
}
