// Default link element
// this element is expected to be an <a> tag
//
// @group Components
.link {
	// display: inline-block;
	--bg: transparent;
	&.is--alert:after {
		--bc: var(--cl-h, var(--cl-a));
		background-color: var(--cl, var(--bg));
	}
	&.is--active,
	&.is--routeExact {
		color: var(--cl-a);
	}

	// link theme
	//
	// @group Modifiers
	&.--tm {
		&-light {
			--cl: #{color(light)};
			--cl-a: #{color(primary)};
		}
		&-lightAlt {
			--cl: #{color(light)};
			--cl-a: #{color(primaryAlt)};
		}
		&-primaryAlt {
			--cl: #{color(primaryAlt)};
			--cl-a: #{color(light)};
			--sh: #{color(primaryAlt, 0.7)};
		}
		&-danger {
			--cl: #{color(danger)};
			--cl-a: #{color(danger, 0.7)};
			--cl-h: #{color(dark, 0.5)};
			&.is--alert:after {
				--cl-h: #{color(light, 0.5)};
			}
		}
	}
	// default theme: secondary
	&:not([class*="-tm"]),
	&.--tm-secondary {
		--cl: #{color(secondary)};
		--cl-a: #{color(dark, 0.7)};
		--cl-h: #{color(dark, 0.5)};
		&.is--alert:after {
			--cl-h: #{color(light, 0.5)};
		}
	}

	// link round handling
	&.--round {
		@include extend-viewports-classes(true, $viewports) {
			i.icon,
			.svg {
				&:last-child {
					display: none;
				}
			}
		}
	}
}

// hover status
.toggle--dropdown.is--active.link,
.toggle--dropdown.is--active > .link,
.link:hover:not(.is--active):not(.is--routeExact) {
	color: var(--cl-h, var(--cl-a));
}

// link shadow
.toggle--dropdown.is--active.link.--shadow,
.toggle--dropdown.is--active > .link.--shadow,
.link.--shadow:hover,
.link.--shadow.is--active,
.link.--shadow.is--routeExact {
	text-shadow: 1px 1px 1px var(--sh, #{color(dark, 0.3)});
}

// desktop only, use hover
@media (min-width: ($viewportMd + 1)) {
	// hover status
	*:hover > .toggle--dropdown:not(.only--active) {
		&.link,
		> .link {
			color: var(--cl-h, var(--cl-a));
			// link shadow
			&.--shadow {
				text-shadow: 1px 1px 1px var(--sh, #{color(dark, 0.3)});
			}
		}
	}
}

// mobile only, use focus
@media (max-width: $viewportMd) {
	// focus status
	*:focus-within:not(.no--focus) > .toggle--dropdown:not(.only--active) {
		&.link,
		> .link {
			color: var(--cl-h, var(--cl-a));
			// link shadow
			&.--shadow {
				text-shadow: 1px 1px 1px var(--sh, #{color(dark, 0.3)});
			}
		}
	}
}
