// list element
//
// @name Columns
// @group Layouts

.toggle--list {
	display: block;
	@include flexbox(row, nowrap, space-between, center);
	i.icon,
	.svg {
		width: 1.8rem;
	}
}
nav.list {
	// width: 100%;
	// width: 100%;
	> input[type^="c"] {
		display: none;
	}
	&.is--active,
	> input[type^="c"]:checked ~ {
		.toggle--list {
			font-weight: weight(bold);
			margin-bottom: 1rem;
			i.icon,
			.svg {
				transform: rotate(180deg);
			}
		}
		.toggle--list + {
			ul.list-group,
			ol.list-group {
				max-height: none;
			}
		}
	}

	.toggle--list + {
		ul.list-group,
		ol.list-group {
			max-height: 0;
			> li {
				width: 100%;
			}
		}
	}
}
span.list-title {
	display: block;
	margin-bottom: 1rem;
}
ul.list-group,
ol.list-group {
	overflow: hidden;

	// flow direction
	//
	// @group Modifiers
	&.--flow-row {
		@include flexbox(row, nowrap, flex-start, center);
		> li:not(:last-child) {
			margin-right: 1rem;
		}
	}
	// default flow
	&:not([class*="-flo"]),
	&.--flow-column {
		// Flow
		@include flexbox(column, nowrap, flex-start, stretch);
		> li:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	> li {
		&,
		:not([class*="-txtA"]) {
			text-align: left;
		}
		&,
		:not([class*="-txtWr"]) {
			white-space: normal;
		}
		a,
		label,
		button {
			line-height: $lineHeightMedium;
		}
	}
}
