// svg icon
//
// @group Components

a,
label,
button {
	&:hover,
	&.is--active,
	&.is--routeExact {
		.svg {
			--cl: var(--cl-a, #{color(dark, 0.7)});
			&.is--logo {
				--cl: var(--cl-l, #{color(primary)});
			}
		}
	}
}

.svg {
	&,
	svg {
		@include flexbox(row, nowrap, center, center, inline-flex);
	}
	[fill]:not([fill="none"]) {
		fill: var(--cl, #{color(secondary)});
	}
	&:hover,
	&.is--active,
	&.is--routeExact {
		--cl: var(--cl-a, #{color(dark, 0.7)});
		&.is--logo {
			--cl: var(--cl-l, #{color(primary)});
		}
	}

	// logo theme
	//
	// @group Modifiers
	&.--tm {
		&-light {
			--cl: #{color(light)};
			--cl-a: #{color(primary)};
			--cl-l: #{color(secondary)};
		}
		&-lightAlt {
			--cl: #{color(light)};
			--cl-a: #{color(primaryAlt)};
			--cl-l: #{color(secondary)};
		}
		&-primaryAlt {
			--cl: #{color(primaryAlt)};
			--cl-a: #{color(light)};
			// --cl-l: #{color(primary)};
		}
		&-light,
		&-lightAlt {
			filter: drop-shadow(1px 1px 1px color(dark, 0.3));
		}
	}

	[fill="none"] {
		display: none;
	}
}
