table.x-table {
	table-layout: fixed;
	border-collapse: collapse;
	box-sizing: border-box;
	border-spacing: 0;

	&:not([class*="__txtA"]) {
		// Align
		tr {
			th,
			td {
				&:not([class*="__txtA"]) {
					text-align: var(--ta, left);
				}
			}
		}
	}
	&:not([class*="__txtCo"]) {
		// Color
		tr {
			td:not([class*="__txtCo"]) {
				color: var(--ccl, color(dark, 0.7));
			}
		}
	}
	thead {
		tr {
			&:not(:first-child) {
				border-top: 2px solid transparent;
				&:after {
					content: "";
					width: calc(100% + 1rem);
					display: block;
					height: 2px;
					position: absolute;
					left: 0;
					margin-top: -2px;
					margin-left: -0.5rem;
					margin-right: -0.5rem;
					opacity: 0.2;
					background-repeat: round;
					background-position: 50% 50%;
					flex: 0 0 auto;
					// switch to svg to allow proper theming
					background-image: var(--rbg, url("#{$rulerPatternX}"));
				}
			}
		}
	}
	tbody {
		box-shadow: 3px 3px 9px color(dark, 0.1);
		tr {
			td {
				background: color(light);
			}
		}
	}
	thead,
	tbody {
		width: 100%;
		box-sizing: border-box;
	}
	tr {
		td,
		th {
			box-sizing: border-box;
			min-width: $minColumnSize/3;
			padding: 0.7rem 1rem;
			&:empty:after {
				content: "";
				display: block;
				width: 100%;
				min-height: calc(42px - 1.4rem);
			}
		}
	}

	&.m__tm-dark7 {
		&:not([class*="__txtCo"]) {
			// Color
			tr {
				th:not([class*="__txtCo"]) {
					color: var(--ccl, color(dark, 0.7));
				}
			}
		}
		tbody {
			tr {
				&:not(:first-child) {
					border-top: 2px solid color(dark, 0.1);
				}
				th {
					background: color(dark, 0.1);
				}
			}
		}
	}

	&.m__tm-primaryAlt {
		&:not([class*="__txtCo"]) {
			// Color
			tr {
				th:not([class*="__txtCo"]) {
					color: var(--ccl, color(primaryAlt));
				}
			}
		}
		tbody {
			tr {
				&:not(:first-child) {
					border-top: 2px solid color(primaryAlt, 0.1);
				}
				th {
					background: color(primaryAlt, 0.1);
				}
			}
		}
	}

	&.m__tm-primary {
		&:not([class*="__txtCo"]) {
			// Color
			tr {
				th:not([class*="__txtCo"]) {
					color: var(--ccl, color(primary));
				}
			}
		}
		tbody {
			tr {
				&:not(:first-child) {
					border-top: 2px solid color(primary, 0.1);
				}
				th {
					background: color(primary, 0.1);
				}
			}
		}
	}

	&.m__tm-danger {
		&:not([class*="__txtCo"]) {
			// Color
			tr {
				th:not([class*="__txtCo"]) {
					color: var(--ccl, color(danger));
				}
			}
		}
		tbody {
			tr {
				&:not(:first-child) {
					border-top: 2px solid color(danger, 0.1);
				}
				th {
					background: color(danger, 0.1);
				}
			}
		}
	}

	&.m__tm-success {
		&:not([class*="__txtCo"]) {
			// Color
			tr {
				th:not([class*="__txtCo"]) {
					color: var(--ccl, color(success));
				}
			}
		}
		tbody {
			tr {
				&:not(:first-child) {
					border-top: 2px solid color(success, 0.1);
				}
				th {
					background: color(success, 0.1);
				}
			}
		}
	}

	&:not([class*="__tm"]),
	&.m__tm-secondary {
		&:not([class*="__txtCo"]) {
			// Color
			tr {
				th:not([class*="__txtCo"]) {
					color: var(--ccl, color(secondary));
				}
			}
		}
		tbody {
			tr {
				&:not(:first-child) {
					border-top: 2px solid color(secondary, 0.1);
				}
				th {
					background: color(secondary, 0.1);
				}
			}
		}
	}
}
