table.tbl {
	table-layout: fixed;
	border-collapse: collapse;
	box-sizing: border-box;
	border-spacing: 0;
	&:not([class*="-txtA"]) {
		// Align
		tr {
			th,
			td {
				&:not([class*="-txtA"]) {
					text-align: left;
				}
			}
		}
	}
	&:not([class*="-txtCo"]) {
		// Color
		color: color(dark, 0.7);
	}
	thead {
		z-index: 3;
		tr {
			th,
			td {
				&.is--selected {
					font-weight: weight(bold);
				}
				* {
					font-weight: inherit;
				}
			}
		}
	}
	thead,
	tbody {
		width: 100%;
		tr {
			border-bottom: 2px solid transparent;
			transition: all 0.1s ease-out;
			th,
			td {
				padding: 0.5rem 1rem;
				transition: color 0.1s ease-out;
				font-weight: weight();
				&:before {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 0;
					pointer-events: none;
					transition: all 0.1s ease-out;
					border-top: 2px solid transparent;
					border-bottom: 2px solid transparent;
					box-sizing: border-box;
				}
				&:empty:before {
					content: "";
					display: block;
					width: 100%;
					min-height: calc(42px - 1.4rem);
				}
				&:first-child:before {
					border-top-left-radius: 0.7rem;
					border-bottom-left-radius: 0.7rem;
					border-left: 2px solid transparent;
				}
				&.--sticky {
					position: sticky;
					z-index: 2;
					background: color(light);
					left: 0;
					width: 0%; // fit width to content
					&:last-child {
						right: 0;
					}
				}
			}
			td {
				min-width: $minColumnSize/3;
				&.--sticky:before,
				&:last-child:before {
					border-top-right-radius: 0.7rem;
					border-bottom-right-radius: 0.7rem;
					border-right: 2px solid transparent;
				}
			}
		}
	}

	// table theme
	//
	// @group Modifiers
	&.--tm-dark7 {
		thead {
			tr {
				color: color(dark, 0.6);
				&:hover {
					th:before,
					td:before {
						border-color: color(dark, 0.05);
					}
				}
				th,
				td {
					&.is--selected {
						color: color(dark);
					}
					&:before {
						background: color(dark, 0.1);
					}
				}
			}
		}
		tbody {
			tr {
				&.is--selected {
					&:hover {
						th:before,
						td:before {
							border-color: color(dark, 0.3);
						}
					}
					th:before,
					td:before {
						border-color: color(dark, 0.1);
					}
				}
				&:hover,
				&.is--selected {
					color: color(dark);
					th:before,
					td:before {
						background: color(dark, 0.1);
					}
				}
			}
		}
	}
	&.--tm-primaryAlt {
		thead {
			tr {
				color: color(primaryAlt, 0.6);
				&:hover {
					th:before,
					td:before {
						border-color: color(primaryAlt, 0.05);
					}
				}
				th,
				td {
					&.is--selected {
						color: color(primaryAlt);
					}
					&:before {
						background: color(primaryAlt, 0.1);
					}
				}
			}
		}
		tbody {
			tr {
				&.is--selected {
					&:hover {
						th:before,
						td:before {
							border-color: color(primaryAlt, 0.3);
						}
					}
					th:before,
					td:before {
						border-color: color(primaryAlt, 0.1);
					}
				}
				&:hover,
				&.is--selected {
					color: color(primaryAlt);
					th:before,
					td:before {
						background: color(primaryAlt, 0.1);
					}
				}
			}
		}
	}
	&.--tm-primary {
		thead {
			tr {
				color: color(primary, 0.6);
				&:hover {
					th:before,
					td:before {
						border-color: color(primary, 0.05);
					}
				}
				th,
				td {
					&.is--selected {
						color: color(primary);
					}
					&:before {
						background: color(primary, 0.1);
					}
				}
			}
		}
		tbody {
			tr {
				&.is--selected {
					&:hover {
						th:before,
						td:before {
							border-color: color(primary, 0.3);
						}
					}
					th:before,
					td:before {
						border-color: color(primary, 0.1);
					}
				}
				&:hover,
				&.is--selected {
					color: color(primary);
					th:before,
					td:before {
						background: color(primary, 0.1);
					}
				}
			}
		}
	}
	&.--tm-danger {
		thead {
			tr {
				color: color(danger, 0.6);
				&:hover {
					th:before,
					td:before {
						border-color: color(danger, 0.05);
					}
				}
				th,
				td {
					&.is--selected {
						color: color(danger);
					}
					&:before {
						background: color(danger, 0.1);
					}
				}
			}
		}
		tbody {
			tr {
				&.is--selected {
					&:hover {
						th:before,
						td:before {
							border-color: color(danger, 0.3);
						}
					}
					th:before,
					td:before {
						border-color: color(danger, 0.1);
					}
				}
				&:hover,
				&.is--selected {
					color: color(danger);
					th:before,
					td:before {
						background: color(danger, 0.1);
					}
				}
			}
		}
	}
	&.--tm-success {
		thead {
			tr {
				color: color(success, 0.6);
				&:hover {
					th:before,
					td:before {
						border-color: color(success, 0.05);
					}
				}
				th,
				td {
					&.is--selected {
						color: color(success);
					}
					&:before {
						background: color(success, 0.1);
					}
				}
			}
		}
		tbody {
			tr {
				&.is--selected {
					&:hover {
						th:before,
						td:before {
							border-color: color(success, 0.3);
						}
					}
					th:before,
					td:before {
						border-color: color(success, 0.1);
					}
				}
				&:hover,
				&.is--selected {
					color: color(success);
					th:before,
					td:before {
						background: color(success, 0.1);
					}
				}
			}
		}
	}
	// default theme: secondary
	&:not([class*="-tm"]),
	&.--tm-secondary {
		thead {
			tr {
				color: color(secondary, 0.6);
				&:hover {
					th:before,
					td:before {
						border-color: color(secondary, 0.05);
					}
				}
				th,
				td {
					&.is--selected {
						color: color(secondary);
					}
					&:before {
						background: color(secondary, 0.1);
					}
				}
			}
		}
		tbody {
			tr {
				&.is--selected {
					&:hover {
						th:before,
						td:before {
							border-color: color(secondary, 0.3);
						}
					}
					th:before,
					td:before {
						border-color: color(secondary, 0.1);
					}
				}
				&:hover,
				&.is--selected {
					color: color(secondary);
					th:before,
					td:before {
						background: color(secondary, 0.1);
					}
				}
			}
		}
	}

	@media (max-width: $viewportMd) {
		// TODO: fix this
		&.--collapseOnMobile {
			&,
			thead,
			tbody,
			th,
			td,
			tr {
				display: block;
			}
			thead {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
			tbody {
				th,
				td {
					/* Behave  like a "row" */
					// border: none;
					// border-bottom: 1px solid #eee;
					// position: relative;
					// padding-left: 50%;
					@include flexbox(row, nowrap, flex-start, center);
					&[data-column]:before {
						content: attr(data-column);
					}
					&:before {
						/* Now like a table header */
						content: "Column";
						width: 30%;
						// position: absolute;
						// /* Top/left values mimic padding */
						// top: 6px;
						// left: 6px;
						// width: 45%;
						flex: 0 0 auto;
						height: 100%;
						padding-right: 1rem;
						white-space: normal;
						overflow: hidden;
						text-overflow: ellipsis;
						@include flexbox(row, nowrap, flex-start, center);
					}
				}
				td {
				}
			}
		}
	}
}
