// Text block component
//
// @group Components
.txt {
	// Root
	&,
	> * {
		&:not(.flx):not(.flxInline):not(.grd):not([class*="-txtAlignF"]) {
			display: block;
		}
	}
	* {
		line-height: $lineHeightMedium;
	}

	&:not([class*="-txtWr"]) {
		white-space: pre-line;
	}
	&:not([class*="-txtCo"]) {
		color: $textColor;
	}
	&:not([class*="-txtA"]) {
		&,
		*:not([class*="-txtA"]) {
			// Txt Align
			text-align: left;
		}
	}
	&:not([class*="-maxW"]) {
		// Width
		max-width: $maxTextWidth;
	}
	&:not([class*="-gapi"]) > *:not([class*="-mB"]):not(:last-child) {
		// Gaping, Bottom
		margin-bottom: 1rem;
	}

	// Childs
	img {
		max-width: 100%;
		height: auto;
	}

	// Text block component
	//
	// @group Components
	&.--box,
	&.--miniBox {
		padding: 0.5rem 1rem;
	}
}
