// Text block component
//
// @group Components
.x-txt {
	--tw: normal;
	text-align: var(--ta, initial);
	color: var(--ccl, color(dark, 0.7));
	&:not([class*="-flx"]):not(.x-grd):not([class*="__txtAlignF"]) {
		// Flx
		display: block;
	}
	&:not([class*="__txtA"]) {
		// Align
		--ta: left;
		&:not([class*="__gapi"])
			> *:not([class*="-flx"]):not(.x-grd):not([class*="__txtAlignF"]) {
			// Gaping
			display: inline-block;
		}
	}
	&:not([class*="__maxW"]) {
		// Width
		max-width: $maxTextWidth;
	}
	&:not([class*="__gapi"]) > *:not([class*="__mB"]):not(:last-child) {
		// Gaping, Bottom
		margin-bottom: 1rem;
	}

	// Text block component
	//
	// @group Components
	&.m__box,
	&.m__miniBox {
		padding: 0.5rem 1rem;
	}

	img {
		max-width: 100%;
		height: auto;
	}
	hr {
		display: inline-block;
	}
	p {
		line-height: $lineHeightBig;
	}
}
