// Text block component
//
// @group Components
.x-txt {
	&,
	:not([class*="_txtWr"]) {
		white-space: normal;
	}
	&:not([class*="_txtCo"]) {
		color: color(dark, 0.7);
	}
	&:not([class*="-flx"]):not(.x-grd):not([class*="_txtAlignF"]) {
		// Flx
		display: block;
	}
	&:not([class*="_txtA"]) {
		// Align
		&,
		:not([class*="_txtA"]) {
			text-align: left;
		}
		> *:not([class*="-flx"]):not(.x-grd):not([class*="_txtAlignF"]) {
			// Gaping
			display: inline-block;
		}
	}
	&:not([class*="_maxW"]) {
		// Width
		max-width: $maxTextWidth;
	}
	&:not([class*="_gapi"]) > *:not([class*="_mB"]):not(:last-child) {
		// Gaping, Bottom
		margin-bottom: 1rem;
	}

	// Text block component
	//
	// @group Components
	&.m__box,
	&.m__miniBox {
		padding: 0.5rem 1rem;
	}

	img {
		max-width: 100%;
		height: auto;
	}
	hr {
		display: inline-block;
	}
	p {
		line-height: $lineHeightBig;
	}
}
