/** @format */

/// avatar proporcion 1:1
///
/// @group Components
.x-avatar {
	/// avatar size
	///
	/// @group Modifiers
	&.m__size-lg {
		width: 9rem;
		height: 9rem;
	}
	&.m__size-md {
		width: 6rem;
		height: 6rem;
	}
	/// default size
	&.m__size,
	&.m__size-sm,
	&.m__size-normal,
	&:not([class*="__size"]) {
		width: 3rem;
		height: 3rem;
	}

	img {
		width: 100%;
		height: 100%;
	}
}
