/** @format */

/// avatar proporcion 1:1
///
/// @group Components
.x-avatar {
	width: var(--sz, 3rem);
	height: var(--sz, 3rem);
	/// avatar size
	///
	/// @group Modifiers
	&.m__size-lg {
		--sz: 9rem;
	}
	&.m__size-md {
		--sz: 6rem;
	}

	img {
		width: 100%;
		height: 100%;
	}
}
