/** @format */

/// Default button element
/// this element is expected to be an <button>, <a> or <label> element
///
/// @group Components
.x-btn {
}

/// Toggle button Vertical
/// this element is expected to be an <button>, <a> or <label> element
///
/// @group Components
.x-btnY {
	padding: 1rem 0.2rem;
	border-radius: 0.4rem;
	border-width: 2px;
	border-style: solid;
	@include box-sizing(border-box);
}

/// button & buttonY
///
/// @group SharedStyles
.x-btn,
.x-btnY {
	@include flex(0 0 auto);
	@include flexbox(row, nowrap, center, center, inline-flex);
	@include transition(all 0.2s ease-out);
}
