/** @format */

/// link Navigation element
///
/// @group Components
.x-btnLink {
	@media (max-width: $viewportMd) {
		/// mobile
		/// Size
		/// this is the default value
		height: var(--bls, 2.4rem);
		border-radius: var(--blr, 1rem);
		border-width: var(--blw, 2px);
		padding: var(--blp, 0 0.8rem);
		&:not(.is__route):not(.is__active) {
			--blp: 0;
			span {
				display: none;
			}
		}
		&.is__route,
		&.is__active {
			// text only
			i.x-icon {
				display: none;
			}
		}
		&:not(.is__route):not(.is__active) {
			// icon only
			width: var(--bls, 2.4rem);
		}

		@each $name, $size in $fontSizes {
			&.m__size-#{$name} {
				--bls: $size * 2.6;
				--blr: $size;
				--blw: calc(2px + (#{$size} / 18));
				--blp: 0 #{$size * 0.8};
			}
		}
	}

	@media (min-width: $viewportMd + 1) {
		/// desktop
		--cl: var(--rew) !important;
		--bg: transparent !important;

		/// ruta activa
		///
		/// @group Statuses
		&.is__route:before {
			content: "...";
			display: block;
			position: absolute;
			top: calc(100%);
			left: 0;
			line-height: 0;
			overflow: visible;
			font-size: 1.3em;
		}

		/// nav link themes
		///
		/// @group Modifiers
		&.u__tm {
			&-light-primaryAlt {
				&:hover,
				&.is__active,
				&.is__routeExact {
					--rew: #{color(primaryAlt)};
				}
			}
			&-primary-light {
				&:hover,
				&.is__active,
				&.is__routeExact {
					--rew: #{color(primary)};
				}
			}
			&-primary-light,
			&-light-primaryAlt {
				--rew: #{color(light)};
			}
		}
		/// default theme: secondary
		&:not([class*="u__tm"]),
		&.u__tm-secondary-light {
			--rew: #{color(secondary)};
			&:hover:not(.is__active):not(.is__routeExact) {
				--rew: #{color(dark, 0.5)};
			}
			&.is__active,
			&.is__routeExact {
				--rew: #{color(dark, 0.7)};
			}
		}
		i.x-icon {
			display: none;
		}
	}
}
