/** @format */

/// Toggle button
/// this element is expected to be an <button>, <a> or <label> element
/// aditionally you have to provide a fas(solid) far(regular) icons
///
/// @group Components
.x-btnToggle {
	&.is__alert:after {
		content: "";
		display: block;
		width: 1rem;
		height: 1rem;
		position: absolute;
		right: -0.3rem;
		bottom: -0.3rem;
		border-width: 4px;
		border-style: solid;
		border-radius: 50%;
		box-sizing: border-box;
		background-color: var(--bg, transparent);
		border-color: var(--bd, transparent);
	}
	&.is__alert,
	&.is__active,
	&.is__routeExact {
		//hide regular
		i.x-icon:first-of-type {
			display: none;
		}
	}
	//hide solid
	&:not(.is__alert):not(.is__active):not(.is__routeExact)
		i.x-icon:last-of-type {
		display: none;
	}

	/// button theme
	/// first value is the bgColor
	/// second value is the textColor
	///
	/// @group Modifiers
	&.m__tm {
		&-dark7 {
			--cl: #{color(dark, 0.7)};
			--bg: #{color(dark, 0.1)};
			&:hover {
				--bd: #{color(dark, 0.3)};
			}
			&.is__alert,
			&.is__active {
				--bg: #{color(dark, 0.5)};
			}
			&.is__alert:after {
				--bd: #{color(dark, 0.7)};
				--bg: #{color(light)};
			}
			&.is__routeExact {
				--cl: #{color(light)};
				--bg: #{color(dark, 0.5)};
				--bd: #{color(light, 0.3)};
			}
		}
		&-light {
			--cl: #{color(light)};
			--bg: #{color(light, 0.1)};
			&:hover {
				--bd: #{color(light, 0.3)};
			}
			&.is__alert:after {
				--bg: #{color(light)};
				--bd: #{color(light)};
			}
			&.is__alert,
			&.is__active {
				--bg: #{color(light, 0.5)};
			}
			&.is__routeExact {
				--cl: #{color(light)};
				--bg: #{color(light, 0.5)};
				--bd: #{color(light, 0.3)};
			}
		}
		&-primaryAlt {
			--cl: #{color(primaryAlt)};
			--bg: #{color(primaryAlt, 0.1)};
			&:hover {
				--bd: #{color(primaryAlt)};
			}
			&.is__alert:after {
				--bg: #{color(light)};
				--bd: #{color(dark, 0.3)};
			}
			&.is__alert,
			&.is__active {
				--bg: #{color(primaryAlt, 0.5)};
			}
			&.is__routeExact {
				--cl: #{color(light)};
				--bg: #{color(primaryAlt, 0.5)};
				--bd: #{color(light, 0.3)};
			}
		}
		&-danger {
			--cl: #{color(danger)};
			--bg: #{color(danger, 0.1)};
			&:hover {
				--bd: #{color(danger)};
			}
			&.is__alert:after {
				--bg: #{color(light)};
				--bd: #{color(dark, 0.3)};
			}
			&.is__alert,
			&.is__active {
				--bg: #{color(danger, 0.5)};
			}
			&.is__routeExact {
				--cl: #{color(light)};
				--bg: #{color(danger, 0.5)};
				--bd: #{color(light, 0.3)};
			}
		}
	}
	/// default theme
	&:not([class*="__tm"]),
	&.m__tm-secondary {
		--cl: #{color(secondary)};
		--bg: #{color(secondary, 0.1)};
		&:hover {
			--bd: #{color(secondary, 0.3)};
		}
		&.is__alert:after {
			--bg: #{color(light)};
			--bd: #{color(secondary)};
		}
		&.is__alert,
		&.is__active {
			--bg: #{color(secondary, 0.5)};
		}
		&.is__routeExact {
			--cl: #{color(light)};
			--bg: #{color(secondary)};
			--bd: #{color(light, 0.3)};
		}
	}
}
