/** @format */

/// Default button element
/// this element is expected to be an <button>, <a> or <label> element
///
/// @group Components
button.x-button,
a.x-button,
label.x-button {
}

/// Toggle button Vertical
/// this element is expected to be an <button>, <a> or <label> element
///
/// @group Components
button.x-buttonY,
a.x-buttonY,
label.x-buttonY {
	padding: 1rem 0.2rem;
	border-radius: 0.4rem;
	border-width: 2px;
}

/// button & buttonY
///
/// @group SharedStyles
a.x-button,
button.x-button,
label.x-button,
a.x-buttonY,
button.x-buttonY,
label.x-buttonY {
	@include flex(0 0 auto);
	@include flexbox(row, nowrap, center, center, inline-flex);
	@include transition(all 0.2s ease-out);
}
