/** @format */

/// limita el ancho de los elementos en el contenidos
///
/// @group Layouts
.x-holder {
	margin: 0 auto;
	width: 100%;
	// display: block;
	&:not(.m__pd-none) {
		padding: 0 1rem;
		@include box-sizing(border-box);
		@media (min-width: $viewportSm + 1) {
			padding: 0 2rem;
		}
	}
	&:not([class*="xm__maxWidth"]) {
		max-width: 1200px;
	}
}
