/** @format */

/// limita el ancho de los elementos en el contenidos
///
/// @group Layouts
.x-holder {
	margin: 0 auto;
	width: 100%;
	// display: block;
	&:not(.m__p-none) {
		padding: 0 1rem;
		@include box-sizing(border-box);
		@include transition(padding 0.3s ease-out);
		&.xm__maxWidth-1200,
		&:not([class*="xm__maxWidth-"]) {
			@media (min-width: $viewportSm + 1) {
				padding: 0 2rem;
			}
			@media (min-width: $viewportXl + 1) {
				padding: 0;
			}
		}
	}
	&:not([class*="xm__maxWidth-"]) {
		max-width: 1200px;
	}
}
