/** @format */

/// limita el ancho de los elementos en el contenidos
///
/// @group Layouts
.x-holder {
	margin: 0 auto;
	width: 100%;
	// display: block;
	&:not(.m__p-none) {
		padding: 0 1rem;
		box-sizing: border-box;
		transition: padding 0.3s ease-out;
		&.xm__maxWidth-1200,
		&:not([class*="xm__maxWidth-"]) {
			@media (min-width: $viewportMd + 1) {
				padding: 0 2rem;
				.x-scroll {
					@media (hover: none) {
						padding-left: 2rem;
						margin-left: -2rem;
						margin-right: -2rem;

						> * > :last-child {
							margin-right: 2rem;
						}
					}
				}
			}
			@media (min-width: $viewportXl + 1) {
				padding: 0;
				.x-scroll {
					@media (hover: none) {
						padding-left: 0;
						margin-left: 0;
						margin-right: 0;
						> * > :last-child {
							margin-right: 0;
						}
					}
				}
			}
		}

		.x-scroll {
			@media (hover: none) {
				padding-left: 1rem;
				margin-left: -1rem;
				margin-right: -1rem;
				> * > :last-child {
					margin-right: 1rem;
				}
			}
		}
	}
	&:not([class*="xm__maxWidth-"]) {
		max-width: 1200px;
	}
}
