/** @format */

/// Envuelve cada vista
/// this element is expected to be an <input> or <textarea> tag but the text type
///
/// @group Components
:not(textarea).x-inputText {
	i.x-icon {
		position: absolute;
		top: 50%;
		left: 1rem;
		z-index: 1;
		@include transform(translateY(-50%));
	}
	input {
		background: transparent;
		width: 100%;
		height: 100%;
		padding-left: 1.5rem;
		color: inherit;
		font-weight: inherit;
		@include box-sizing(border-box);
	}
}
textarea.x-inputText {
	height: auto !important;
	min-height: 6rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.x-inputText {
	width: 100%;
	display: block;
	padding: 0 1rem;
	@include transition(all 0.2s ease-out);
	@include flexbox(column, nowrap, center, center);

	/// theme
	///
	/// @group Modifiers
	&.m__theme {
		&-light {
			background: color(light, 0.3);
			border-color: color(light, 0.7);
			color: color(light);
			text-shadow: 1px 1px 1px color(dark, 0.3);
			&::placeholder,
			input::placeholder,
			input:placeholder-shown ~ i.x-icon {
				color: color(light, 0.7);
			}
			&:hover {
				border-color: color(light);
			}
			&:focus,
			&:focus-within {
				background: color(primary, 0.3);
				border-color: color(primary);
			}
		}
		&-lightAlt {
			background: color(light);
			border-color: transparent;
			color: color(primaryAlt);
			&::placeholder,
			input::placeholder,
			input:placeholder-shown ~ i.x-icon {
				color: color(primaryAlt, 0.3);
			}
			&:hover {
				border-color: color(primaryAlt, 0.3);
			}
			&:focus,
			&:focus-within {
				border-color: color(primaryAlt);
			}
			/// showcase a shadow
			///
			/// @group ConditionalModifiers
			&.m__shadow {
				box-shadow: 1px 1px 3px color(dark, 0.3);
			}
		}
		&-primary {
			background: color(primary, 0.1);
			border-color: color(primary, 0.05);
			color: color(light);
			&::placeholder,
			input::placeholder,
			input:placeholder-shown ~ i.x-icon {
				color: color(light, 0.5);
			}
			&:hover {
				border-color: color(light, 0.5);
			}
			&:focus,
			&:focus-within {
				border-color: color(light);
			}
		}
	}
	/// default theme
	&:not([class*="m__theme"]),
	&.m__theme-secondary {
		background: color(secondary, 0.1);
		border-color: color(secondary, 0.05);
		color: color(secondary);
		&::placeholder,
		input::placeholder,
		input:placeholder-shown ~ i.x-icon {
			color: color(secondary, 0.3);
		}
		&:hover {
			border-color: color(secondary, 0.3);
		}
		&:focus,
		&:focus-within {
			border-color: color(secondary);
		}
	}
}
