/** @format */

/// Envuelve cada vista
/// this element is expected to be an <input> or <textarea> tag but the text type
///
/// @group Components
:not(textarea).x-inTxt {
	i.x-icon {
		position: absolute;
		top: 50%;
		left: 0.8rem;
		z-index: 1;
		transform: translateY(-50%);
	}
	input {
		background-color: transparent;
		width: 100%;
		height: 100%;
		padding-left: 1.6rem;
		color: inherit;
		font-weight: inherit;
		box-sizing: border-box;
	}
}
textarea.x-inTxt {
	height: auto !important;
	min-height: 6rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.x-inTxt {
	width: 100%;
	display: block;
	padding: 0 0.8rem;
	@include flexbox(column, nowrap, center, center);

	/// theme
	///
	/// @group Modifiers
	&.m__tm {
		&-light {
			--bg: #{color(light, 0.3)};
			--bd: #{color(light, 0.7)};
			--cl: #{color(light)};
			--cl-a: #{color(light, 0.7)};
			text-shadow: 1px 1px 1px color(dark, 0.3);
			&:hover {
				--bd: var(--cl);
			}
			&:focus,
			&:focus-within {
				--bg: #{color(primary, 0.3)};
				--bd: #{color(primary)};
			}
		}
		&-lightAlt {
			--bg: #{color(light)};
			--bd: #{transparent};
			--cl: #{color(primaryAlt)};
			--cl-a: #{color(primaryAlt, 0.3)};
			&:hover {
				--bd: var(--cl-a);
			}
			&:focus,
			&:focus-within {
				--bd: var(--cl);
			}
			/// showcase a shadow
			///
			/// @group ConditionalModifiers
			&.m__shadow {
				box-shadow: 1px 1px 3px color(dark, 0.3);
			}
		}
		&-primary {
			--bg: #{color(primary, 0.1)};
			--bd: #{color(primary, 0.05)};
			--cl: #{color(light)};
			--cl-a: #{color(light, 0.5)};
			&:hover {
				--bd: var(--cl-a);
			}
			&:focus,
			&:focus-within {
				--bd: var(--cl);
			}
		}
	}
	/// default theme
	&:not([class*="__tm"]),
	&.m__tm-secondary {
		--bg: #{color(secondary, 0.1)};
		--bd: #{color(secondary, 0.05)};
		--cl: #{color(secondary)};
		--cl-a: #{color(secondary, 0.3)};
		&:hover {
			--bd: var(--cl-a);
		}
		&:focus,
		&:focus-within {
			--bd: var(--cl);
		}
	}

	&::placeholder,
	input::placeholder,
	input:placeholder-shown ~ i.x-icon {
		color: var(--cl-a);
	}
}
