/** @format */
$pathStart: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.478' height='10' viewBox='0 0 16.478 10'%3E%3Cpath d='M14.537,123.76l7.333,7.333a.906.906,0,0,1,0,1.281l-.855.855a.906.906,0,0,1-1.279,0L13.9,127.419l-5.839,5.812a.906.906,0,0,1-1.279,0l-.855-.855a.906.906,0,0,1,0-1.281l7.333-7.333A.906.906,0,0,1,14.537,123.76Z' transform='translate(";
$path2: "#{$pathStart}-5.657 -123.496)' ";
$path1: "#{$pathStart}22.135 133.496) rotate(180)' ";
$pathEnd: "/%3E%3C/svg%3E";
/// website logo
///
/// @group Components
.x-inSelect {
	width: 100%;
	display: inline-block;
	padding: 0 2rem 0 1rem;
	background-repeat: no-repeat;
	background-size: auto 0.5rem;
	background-position: calc(100% - 1rem) 50%;
	@include transition(all 0.2s ease-out, background-image 0s);
	// @include flexbox(column, nowrap, center, center);

	/// Theme
	///
	/// @group Unions
	&.u__tm-light {
		&-secondary {
			//chevron-light down
			background-image: url("#{$path1}fill='%23#{str-replace(#{$secondary}, '#')}'#{$pathEnd}");
			&:hover {
				//chevron-light down-hover
				background-image: url("#{$path1}fill='%23#{str-replace(#{$secondary}, '#')}' opacity='0.7'#{$pathEnd}");
			}
			&:focus {
				//chevron-light up
				background-image: url("#{$path2}fill='%23#{str-replace(#{$secondary}, '#')}'#{$pathEnd}");
			}
			&:focus:hover,
			&:focus-within:hover {
				//chevron-light up-hover
				background-image: url("#{$path2}fill='%23#{str-replace(#{$secondary}, '#')}' opacity='0.7'#{$pathEnd}");
			}
		}
		&-dark {
			//chevron-light down
			background-image: url("#{$path1}fill='%23#{str-replace(#{$dark}, '#')}' opacity='0.7'#{$pathEnd}");
			&:hover {
				//chevron-light down-hover
				background-image: url("#{$path1}fill='%23#{str-replace(#{$dark}, '#')}' opacity='0.5'#{$pathEnd}");
			}
			&:focus {
				//chevron-light up
				background-image: url("#{$path2}fill='%23#{str-replace(#{$dark}, '#')}' opacity='0.7'#{$pathEnd}");
			}
			&:focus:hover,
			&:focus-within:hover {
				//chevron-light up-hover
				background-image: url("#{$path2}fill='%23#{str-replace(#{$dark}, '#')}' opacity='0.5'#{$pathEnd}");
			}
		}
		&-primaryAlt {
			//chevron-light down
			background-image: url("#{$path1}fill='%23#{str-replace(#{$primaryAlt}, '#')}'#{$pathEnd}");
			&:hover {
				//chevron-light down-hover
				background-image: url("#{$path1}fill='%23#{str-replace(#{$primaryAlt}, '#')}' opacity='0.7'#{$pathEnd}");
			}
			&:focus {
				//chevron-light up
				background-image: url("#{$path2}fill='%23#{str-replace(#{$primaryAlt}, '#')}'#{$pathEnd}");
			}
			&:focus:hover,
			&:focus-within:hover {
				//chevron-light up-hover
				background-image: url("#{$path2}fill='%23#{str-replace(#{$primaryAlt}, '#')}' opacity='0.7'#{$pathEnd}");
			}
		}
		&-primary {
			//chevron-light down
			background-image: url("#{$path1}fill='%23#{str-replace(#{$primary}, '#')}'#{$pathEnd}");
			&:hover {
				//chevron-light down-hover
				background-image: url("#{$path1}fill='%23#{str-replace(#{$primary}, '#')}' opacity='0.7'#{$pathEnd}");
			}
			&:focus {
				//chevron-light up
				background-image: url("#{$path2}fill='%23#{str-replace(#{$primary}, '#')}'#{$pathEnd}");
			}
			&:focus:hover,
			&:focus-within:hover {
				//chevron-light up-hover
				background-image: url("#{$path2}fill='%23#{str-replace(#{$primary}, '#')}' opacity='0.7'#{$pathEnd}");
			}
		}
		&-secondary,
		&-dark,
		&-primaryAlt {
			&:disabled,
			&[disabled] {
				//chevron-light down
				background-image: url("#{$path1}fill='%23#{str-replace(#{$light}, '#')}' opacity='0.3'#{$pathEnd}");
			}
		}
	}
	&:not([class*="u__tm"]),
	&.u__tm-primary-light,
	&.u__tm-primaryAlt-light,
	&.u__tm-secondary-light {
		//chevron-light down
		background-image: url("#{$path1}fill='%23#{str-replace(#{$light}, '#')}'#{$pathEnd}");
		&:hover {
			//chevron-light down-hover
			background-image: url("#{$path1}fill='%23#{str-replace(#{$light}, '#')}' opacity='0.7'#{$pathEnd}");
		}
		&:focus {
			//chevron-light up
			background-image: url("#{$path2}fill='%23#{str-replace(#{$light}, '#')}'#{$pathEnd}");
		}
		&:focus:hover,
		&:focus-within:hover {
			//chevron-light up-hover
			background-image: url("#{$path2}fill='%23#{str-replace(#{$light}, '#')}' opacity='0.7'#{$pathEnd}");
		}
	}
	&.u__tm-primary-light {
		&:disabled,
		&[disabled] {
			//chevron-primary down
			background-image: url("#{$path1}fill='%23#{str-replace(#{$primary}, '#')}' opacity='0.3'#{$pathEnd}");
		}
	}
	&.u__tm-primaryAlt-light {
		&:disabled,
		&[disabled] {
			//chevron-primaryAlt down
			background-image: url("#{$path1}fill='%23#{str-replace(#{$primaryAlt}, '#')}' opacity='0.3'#{$pathEnd}");
		}
	}
	/// default
	&:not([class*="u__tm"]),
	&.u__tm-secondary-light {
		&:disabled,
		&[disabled] {
			//chevron-secondary down
			background-image: url("#{$path1}fill='%23#{str-replace(#{$secondary}, '#')}' opacity='0.3'#{$pathEnd}");
		}
	}

	option {
		background: color(light);
		border: none;
		color: color(dark, 0.7);
	}
}
