/** @format */

/// Default link element
/// this element is expected to be an <a> tag
///
/// @group Components
.x-link {
	display: inline-block;
	--bg: transparent;

	/// link theme
	///
	/// @group Modifiers
	&.m__tm {
		&-light {
			&:hover,
			&.is__active,
			&.is__routeExact {
				--cl: #{color(primary)};
			}
		}
		&-lightAlt {
			&:hover,
			&.is__active,
			&.is__routeExact {
				--cl: #{color(primaryAlt)};
			}
		}
		&-primaryAlt {
			--cl: #{color(primaryAlt)};
			--sh: #{color(primaryAlt, 0.7)};
			&:hover,
			&.is__active,
			&.is__routeExact {
				--cl: #{color(light)};
			}
		}
		&-danger {
			--cl: #{color(danger)};
			&:hover:not(.is__active):not(.is__routeExact) {
				--cl: #{color(danger, 0.5)};
			}
			&.is__active,
			&.is__routeExact {
				--cl: #{color(danger, 0.7)};
			}
		}
		&-light,
		&-lightAlt {
			--cl: #{color(light)};
		}
	}
	/// default theme: secondary
	&:not([class*="__tm"]),
	&.m__tm-secondary {
		--cl: #{color(secondary)};
		&:hover:not(.is__active):not(.is__routeExact) {
			--cl: #{color(dark, 0.5)};
		}
		&.is__active,
		&.is__routeExact {
			--cl: #{color(dark, 0.7)};
		}
	}

	/// link shadow
	///
	/// @group Modifiers
	&.m__shadow {
		&:hover,
		&.is__active,
		&.is__routeExact {
			text-shadow: 1px 1px 1px var(--sh, #{color(dark, 0.3)});
		}
	}

	/// link round handling
	&.m__round i.x-icon {
		display: none;
	}
}
