/** @format */

/// Main navigation
/// this element is expected to be an <nav> wrapper
///
/// @group Layouts
.x-navX {
	width: 100%;
	z-index: 15;
	@include flexbox(column, nowrap, center, stretch);
	// box-sizing: border-box;

	/// es barra de navegacion principal
	///
	/// @group Statuses
	&:not(.is__sub) {
		&:not(.is__relative) {
			@media (min-width: $viewportMd + 1) {
				/// desktop
				> .x-navX-wrapper {
					position: fixed;
					left: 0;
					top: 0;
					z-index: 16;
					.x-navX-wrapper {
						width: auto;
						> .x-holder {
							// nested childs
							padding: 0 !important;
						}
					}
				}
			}
			@media (max-width: $viewportMd) {
				/// mobile
				&:not([class*="m__tm"]),
				&.m__tm-secondary {
					> .x-navX-wrapper {
						background: transparent;
						box-shadow: none;
					}
					.x-navX-wrapper.is__main {
						background: color(light);
						box-shadow: 0 0.5rem 2.4rem color(dark, 0.05);
					}
				}
				> .x-navX-wrapper > .x-holder {
					// first one
					padding: 0 !important;
				}
				.x-navX-wrapper.is__main {
					position: fixed;
					left: 0;
					top: 0;
					z-index: 16;
				}
				.x-navX-wrapper.is__search {
					z-index: -1;
					height: auto;
					position: absolute;
					top: 100%;
					left: 0;
					> *,
					> * > *,
					> * > * > * {
						width: 100%;
					}
				}
			}
		}
		&,
		.x-navX-wrapper {
			height: 5rem;
			transition: background 0.3s ease-out;
		}

		/// tema de la barra de navegacion principal
		///
		/// @group ConditionalModifiers
		&.m__tm-light,
		&.m__tm-lightAlt {
			.x-navX-list-item > {
				.x-link:not(:hover):not(.is__active):not(.is__routeExact) {
					text-shadow: 1px 1px 1px color(dark, 0.3);
				}
				.x-btnLink:not(:hover):not(.is__active):not(.is__routeExact) {
					@media (min-width: $viewportMd + 1) {
						text-shadow: 1px 1px 1px color(dark, 0.3);
					}
				}
				.x-btn {
					&.is__active,
					&.is__routeExact {
						// color: color(primaryAlt);
						text-shadow: 1px 1px 1px color(dark, 0.3);
					}
				}
			}
		}
		/// default theme
		&:not([class*="m__tm"]),
		&.m__tm-secondary {
			> .x-navX-wrapper {
				background: color(light);
			}
			&:not(.is__relative) {
				> .x-navX-wrapper {
					box-shadow: 0 0.5rem 2.4rem color(dark, 0.05);
				}
			}
			.x-navX-list-item > {
				.x-link,
				.x-btnLink {
					// color: color(secondary);
				}
			}
		}
	}

	/// es barra de navegacion secundaria
	///
	/// @group Statuses
	&.is__sub {
		z-index: 14;
		position: absolute;
		left: 0;
		top: 100%;
		// margin: 0;
		height: 2.4rem;
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;
		@media (max-width: $viewportMd) {
			display: none;
		}

		/// tema de la barra de navegacion secundaria
		///
		/// @group ConditionalModifiers
		&.m__tm-light {
			.x-navX-list-item > {
				.x-link,
				.x-btnLink {
					&:not(:hover):not(.is__active):not(.is__routeExact) {
						// color: color(light);
						text-shadow: 1px 1px 1px color(dark, 0.3);
					}
				}
			}
		}
		&.m__tm-primaryAlt {
			.x-navX-list-item > {
				.x-link,
				.x-btnLink {
					&:hover,
					&.is__active,
					&.is__routeExact {
						// color: color(primaryAlt);
						text-shadow: 1px 1px 1px color(dark, 0.3);
					}
				}
			}
		}
		/// default theme
		&:not([class*="m__tm"]),
		&.m__tm-secondary {
			border-bottom-color: color(secondary, 0.05);
			.x-navX-list-item > {
				.x-link,
				.x-btnLink {
					// color: color(secondary);
				}
			}
		}
	}
}

/// Navigation wrapper
.x-navX-wrapper {
	&,
	> .x-holder {
		width: 100%;
		height: 100%;
		position: static;
		@include flexbox(row, nowrap, space-between, center);
	}
	> *:not(:first-child) {
		@media (min-width: $viewportMd + 1) {
			margin-left: 1rem;
		}
	}
}

/// Navigation nav list
/// this element is expected to be an <ul> or <ol> list
ul.x-navX-list,
ol.x-navX-list {
	position: static;
	@include flexbox(row, nowrap, center, center);
	&,
	> * {
		&:not(:first-child) {
			margin-left: 1rem;
		}
	}
	&.is__toggle {
		@media (min-width: $viewportMd + 1) {
			display: none;
		}
	}
	&.is__aside {
		@media (max-width: $viewportMd) {
			display: none;
		}
	}
}

/// Navigation nav list item
/// this element is expected to be an <li> list item
li.x-navX-list-item {
	@include flexbox(row, nowrap, center, center);
}
