/** @format */

/// list element
///
/// @group Layouts
nav.x-nListToggle {
	// width: 100%;
	> input[type="checkbox"] {
		display: none;
		&:checked ~ .x-nListToggle-toggler {
			font-weight: $fontWeightBold;
			margin-bottom: 1rem;
			i.x-icon {
				transform: rotate(180deg);
			}
		}
		&:not(:checked) {
			~ ul.x-nListToggle-group,
			~ ol.x-nListToggle-group {
				max-height: 0;
			}
		}
	}
}
.x-nListToggle-toggler {
	display: block;
	@include flexbox(row, nowrap, space-between, center);
	i.x-icon {
		width: 1.8rem;
	}
}
ul.x-nListToggle-group,
ol.x-nListToggle-group {
	> li {
		width: 100%;
	}
}
