/** @format */

/// list element
///
/// @group Layouts
nav.x-nList {
	// width: 100%;
}
span.x-nList-title {
	display: block;
	margin-bottom: 1rem;
}
ul.x-nList-group,
ol.x-nList-group {
}
li.x-nList-group-item {
	a {
		white-space: normal;
		line-height: $lineHeightMedium;
	}
}
