/** @format */

/// list element
///
/// @group Layouts
.toggle__list {
	display: block;
	@include flexbox(row, nowrap, space-between, center);
	i.x-icon,
	.x-svg {
		width: 1.8rem;
	}
}
nav.x-list {
	// width: 100%;
	// width: 100%;
	> input[type^="c"] {
		display: none;
	}
	&.is__active,
	> input[type^="c"]:checked ~ {
		.toggle__list {
			font-weight: $fontWeightBold;
			margin-bottom: 1rem;
			i.x-icon,
			.x-svg {
				transform: rotate(180deg);
			}
		}
		.toggle__list + {
			ul.x-list-group,
			ol.x-list-group {
				max-height: none;
			}
		}
	}

	.toggle__list + {
		ul.x-list-group,
		ol.x-list-group {
			max-height: 0;
			> li {
				width: 100%;
			}
		}
	}
}
span.x-list-title {
	display: block;
	margin-bottom: 1rem;
}
ul.x-list-group,
ol.x-list-group {
	overflow: hidden;

	/// flow direction
	///
	/// @group Modifiers
	&.m__flow-row {
		@include flexbox(row, nowrap, flex-start, center);
		> li:not(:last-child) {
			margin-right: 1rem;
		}
	}
	/// default flow
	&:not([class*="__flo"]),
	&.m__flow-column {
		/// Flow
		@include flexbox(column, nowrap, flex-start, stretch);
		> li:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	> li {
		a,
		label,
		button {
			white-space: normal;
			line-height: $lineHeightMedium;
		}
	}
}
