/** @format */

/// Acroll area component
///
/// @group Components
.x-scroll {
	@media (hover: none) {
		width: auto;
		height: auto;
		overflow-x: auto;
		overflow-y: hidden;
		padding-left: 1rem;
		> * {
			width: auto;
			@include flexbox(row, nowrap, flex-start, center);
			> * {
				flex: 0 0 auto;
				&:last-child {
					padding-right: 1rem;
				}
			}
		}
		@media (min-width: $viewportMd + 1) {
			padding-left: 2rem;

			> * > :last-child {
				padding-right: 2rem;
			}
		}
		@media (min-width: $viewportXl + 1) {
			padding-left: 0;
			> * > :last-child {
				padding-right: 0;
			}
		}
	}
}
