/** @format */

/// Acroll area component
///
/// @group Components
.x-scroll {
	@media (max-width: $viewportMd) and (hover: none) {
		width: auto;
		height: auto;
		overflow-x: auto;
		overflow-y: hidden;
		padding-left: 1rem;
		box-sizing: border-box;
		> * {
			width: auto;
			margin-left: 0 !important;
			margin-right: 0 !important;
			@include flexbox(
				row,
				nowrap !important,
				flex-start,
				flex-start,
				inline-flex
			);
			&[class*="x-grd"]:after {
				width: 1px;
			}
			&:after {
				content: "";
				display: block;
				width: 1rem;
				height: 1rem;
				flex: 0 0 auto;
			}
			> * {
				flex: 0 0 auto;
				&:last-child {
					margin-right: 0 !important;
				}
			}
		}
	}
}
