/** @format */
/// svg icon
///
/// @group Components
.x-svg {
	&,
	svg {
		display: block;
	}
	[fill]:not([fill="none"]) {
		fill: var(--cl, #{color(secondary)});
	}
	&:hover,
	&.is__active,
	&.is__routeExact {
		--cl: var(--cl-a, #{color(dark, 0.7)});
		&.is__logo {
			--cl: var(--cl-l, #{color(primary)});
		}
	}

	/// logo theme
	///
	/// @group Modifiers
	&.m__tm {
		&-light {
			--cl-a: #{color(primary)};
			--cl-l: #{color(secondary)};
		}
		&-lightAlt {
			--cl-a: #{color(primaryAlt)};
			--cl-l: #{color(secondary)};
		}
		&-primaryAlt {
			--cl: #{color(primaryAlt)};
			--cl-a: #{color(light)};
			// --cl-l: #{color(primary)};
		}
		&-light,
		&-lightAlt {
			--cl: #{color(light)};
			filter: drop-shadow(1px 1px 1px color(dark, 0.3));
		}
	}

	[fill="none"] {
		display: none;
	}
}
