/** @format */
/// svg icon
///
/// @group Components
.x-svg {
	&,
	svg {
		display: block;
	}

	/// logo theme
	///
	/// @group Modifiers
	&.m__tm {
		&-light {
			&:hover,
			&.is__active,
			&.is__routeExact {
				[fill]:not([fill="none"]) {
					fill: color(primary);
				}
				&.is__logo [fill]:not([fill="none"]) {
					fill: color(secondary);
				}
			}
		}
		&-lightAlt {
			&:hover,
			&.is__active,
			&.is__routeExact {
				[fill]:not([fill="none"]) {
					fill: color(primaryAlt);
				}
				&.is__logo [fill]:not([fill="none"]) {
					fill: color(secondary);
				}
			}
		}
		&-primaryAlt {
			[fill]:not([fill="none"]) {
				fill: color(primaryAlt);
			}
			&:hover,
			&.is__active,
			&.is__routeExact {
				[fill]:not([fill="none"]) {
					fill: color(light);
				}
			}
		}
		&-light,
		&-lightAlt {
			filter: drop-shadow(1px 1px 1px color(dark, 0.3));
			[fill]:not([fill="none"]) {
				fill: color(light);
			}
		}
	}
	&:not([class*="__tm"]),
	&.m__tm-secondary {
		[fill]:not([fill="none"]) {
			fill: color(secondary);
		}
		&:hover,
		&.is__active,
		&.is__routeExact {
			[fill]:not([fill="none"]) {
				fill: color(dark, 0.7);
			}
			&.is__logo [fill]:not([fill="none"]) {
				fill: color(primary);
			}
		}
	}

	[fill="none"] {
		display: none;
	}
}
