/** @format */
/// svg icon
///
/// @group Components
.x-svg {
	width: auto;

	/// logo theme
	///
	/// @group Modifiers
	&.m__tm {
		&-light {
			&:hover,
			&.is__active,
			&.is__routeExact {
				[fill]:not([fill="none"]) {
					fill: color(primary);
				}
				&.is__logo {
					[fill]:not([fill="none"]) {
						fill: color(secondary);
					}
				}
			}
		}
		&-lightAlt {
			&:hover,
			&.is__active,
			&.is__routeExact {
				[fill]:not([fill="none"]) {
					fill: color(primaryAlt);
				}
				&.is__logo {
					[fill]:not([fill="none"]) {
						fill: color(secondary);
					}
				}
			}
		}
		&-primaryAlt {
			[fill]:not([fill="none"]) {
				fill: color(primaryAlt);
			}
			&:hover,
			&.is__active,
			&.is__routeExact {
				[fill]:not([fill="none"]) {
					fill: color(light);
				}
			}
		}
		&-light,
		&-lightAlt {
			filter: drop-shadow(1px 1px 1px color(dark, 0.3));
			[fill]:not([fill="none"]) {
				fill: color(light);
			}
		}
	}
	&:not([class*="m__tm"]),
	&.m__tm-secondary {
		[fill]:not([fill="none"]) {
			fill: color(secondary);
		}
		&:hover,
		&.is__active,
		&.is__routeExact {
			[fill]:not([fill="none"]) {
				fill: color(dark, 0.7);
			}
			&.is__logo {
				[fill]:not([fill="none"]) {
					fill: color(primary);
				}
			}
		}
	}

	/// logo size
	///
	/// @group Modifiers
	@for $i from 3 through 10 {
		&.m__size-#{$i*5} {
			height: #{$i/3}rem;
		}
	}
	/// default size
	&:not([class*="m__size"]) {
		$ocho: 8; /// sass was not compiling without the variable
		height: #{$ocho/3}rem;
	}

	[fill="none"] {
		display: none;
	}
	[fill]:not([fill="none"]) {
		transition: all 0.2s ease-out;
	}
}
