/** @format */

/// Text block component
///
/// @group Components
.x-text {
	&:not(.x-flex):not(.x-grid):not([class*="xm__txtAlignFlx"]) {
		display: block;
	}
	&:not([class*="xm__txtAlign"]) {
		text-align: left;
		&:not([class*="xm__itemSpace"]) > * {
			display: inline-block;
		}
	}
	&:not([class*="xm__txtColor"]) {
		color: color(dark, 0.7);
	}
	&:not(.m__maxWidth-none) {
		max-width: $maxTextWidth;
	}
	&:not([class*="xm__itemSpace"]) > * {
		&:not([class*="xm__mBottom"]):not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	/// Text block component
	///
	/// @group Components
	&.m__miniBox {
		padding: 0.5rem 1rem;
	}

	img {
		max-width: 100%;
		height: auto;
	}
	hr {
		display: inline-block;
	}
	p {
		line-height: $lineHeightBig;
	}
}
