/** @format */

/// Text block component
///
/// @group Components
.x-txt {
	&:not(.x-flx):not(.x-grd):not([class*="__txtAlignFlx"]) {
		display: block;
	}
	&:not([class*="__txtAlign"]) {
		text-align: left;
		&:not([class*="__gaping"]) > * {
			display: inline-block;
		}
	}
	&:not([class*="__txtColor"]) {
		color: color(dark, 0.7);
	}
	&:not([class*="__maxWidth"]) {
		max-width: $maxTextWidth;
	}
	&:not([class*="__gaping"]) > *:not([class*="__mBottom"]):not(:last-child) {
		margin-bottom: 1rem;
	}

	/// Text block component
	///
	/// @group Components
	&.m__box,
	&.m__miniBox {
		padding: 0.5rem 1rem;
	}

	img {
		max-width: 100%;
		height: auto;
	}
	hr {
		display: inline-block;
	}
	p {
		line-height: $lineHeightBig;
	}
}
