/** @format */
$viewPathStart: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='";
$viewPathEnd: "' fill='%23fff' /%3E%3C/svg%3E%0A";
/// Envuelve cada vista
///
/// @group Layouts
.x-view {
	@include flexbox(column, nowrap, center, stretch);
}

/// Define las diferentes secciones de cada vista
///
/// @group Layouts
.x-view-item {
	overflow: visible;
	height: auto;
	box-sizing: border-box;
	@include flexbox(row, nowrap, center, stretch);
	&:before,
	&:after {
		/// This only becomes visible over certain conditions
		width: 100%;
		height: 6vh;
		display: block;
		position: absolute;
		left: 0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		pointer-events: none;
		box-sizing: border-box;
		@media (min-width: $viewportMd + 1) {
			height: 12vh; // triangle size
		}
	}
	&:not([class*="__bgC"]):first-child
		+ .x-view-item[class*="__bgColor"]:not(.m__noShapes) {
		/// Color
		padding-top: 2.4rem;
		&:before {
			content: "";
			// triangle-top.svg
			background-image: linear-gradient(
					to bottom,
					transparent,
					transparent calc(100% - 0.5px),
					color(light) calc(100% - 0.5px),
					color(light)
				),
				url("#{$viewPathStart}M100,0V100H0Z#{$viewPathEnd}");
			bottom: calc(100% - 1px);
			border-bottom: 1px solid color(light);
		}
	}
	&[class*="__bgC"] {
		/// Color
		padding-bottom: 4rem;
		&:not(.m__p-normal):first-child {
			padding-top: 4.8rem;
		}
		&.m__p-normal:first-child {
			padding-top: 2.4rem;
		}
		&:last-child {
			padding-bottom: 2.4rem;
			&:not(.m__noShapes) {
				margin-bottom: 6vh; // triangle size
				&:after {
					content: "";
					// triangle-bottom.svg
					background-image: linear-gradient(
							to bottom,
							color(light),
							color(light) 0.5px,
							transparent 0.5px,
							transparent
						),
						url("#{$viewPathStart}M0,0H100L0,100Z#{$viewPathEnd}");
					top: calc(100% - 1px);
					border-top: 1px solid color(light);
				}
				@media (min-width: $viewportMd + 1) {
					margin-bottom: 12vh; // triangle size
				}
			}
		}
	}

	/// min height
	///
	/// @group Modifiers
	&:not([class*="__minH"]) {
		/// Height
		min-height: 60vh;
	}
	&.m__minHeight-100 {
		min-height: calc(100vh - 5rem);

		@media (max-device-width: $viewportMd) {
			/// mobile only
			min-height: calc((100vh - 5rem) - 56px); // 56px: navigation bar
		}
	}

	> .x-holder {
		@include flexbox(column, nowrap, center, stretch);
		> :not([class*="__mB"]):not(:last-child) {
			/// Bottom
			margin-bottom: var(--gy, 2rem);
			&[class*="__flx"][class*="-wrap"],
			&[class*="__flx"][class*="-reverse"],
			&[class*="__gapi"]:not([class*="ngX"]):not([class*="ngY"]):not([class*="__gaping-none"]) {
				margin-bottom: calc(-1 * (var(--g) - var(--gy)));
			}
		}
	}
}
