/** @format */

/// Envuelve cada vista
///
/// @group Layouts
.x-view {
	@include flexbox(column, nowrap, center, stretch);
}

/// Define las diferentes secciones de cada vista
///
/// @group Layouts
.x-view-item {
	overflow: visible;
	height: auto;
	box-sizing: border-box;
	@include flexbox(row, nowrap, center, stretch);
	&:not([class*="xm__bgColor"]) {
		&:first-child + .x-view-item[class*="xm__bgColor"] {
			padding-top: 2.4rem;
			&:before {
				content: "";
				// triangle-top.svg
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M100,0V100H0Z' fill='%23fff' /%3E%3C/svg%3E%0A");
				bottom: calc(100% - 0.3px);
				border-bottom: 1px solid color(light);
			}
		}
	}
	&[class*="xm__bgColor"] {
		padding-bottom: 4rem;
		&:not(.m__p-normal):first-child {
			padding-top: 4.8rem;
		}
		&.m__p-normal:first-child {
			padding-top: 2.4rem;
		}
		&:last-child {
			padding-bottom: 2.4rem;
			&:not(.m__noShapes) {
				margin-bottom: 12vh; // triangle size
				&:after {
					content: "";
					// triangle-bottom.svg
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M0,0H100L0,100Z' fill='%23fff' /%3E%3C/svg%3E%0A");
					top: calc(100% - 0.3px);
					border-top: 1px solid color(light);
				}
			}
		}
	}
	&[class*="xm__bgColor"]:last-child,
	&:not([class*="xm__bgColor"]):first-child
		+ .x-view-item[class*="xm__bgColor"] {
		&:before,
		&:after {
			width: 100%;
			height: 12vh;
			display: block;
			position: absolute;
			left: 0;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			pointer-events: none;
			box-sizing: border-box;
		}
	}

	/// min height
	///
	/// @group Modifiers
	&:not(.m__minHeight-none) {
		min-height: 60vh;
	}
	&.m__minHeight-100 {
		&:not(.m__noShapes) {
			min-height: calc(100vh - 12vh);
		}
		&.m__noShapes {
			min-height: 100vh;
		}
	}

	> .x-holder {
		@include flexbox(column, nowrap, center, stretch);
		> :not([class*="xm__mBottom"]):not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}
