<link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
{% set avatar1 = ['aguacate', 'cereza'] %}
{% set avatar2 = ['aguacate', 'cereza', 'platano'] %}
<div class="x-flx m__flxColumn">
   <div class="x-txt xm__txtAlignFlex-start">
      <h4>Displaying two columns</h4>
      <p>just <b class="xm__txtColor-secondary xm__txtStyle">.x-cols</b> or <b class="xm__txtColor-secondary xm__txtStyle">.x-cols.m__count</b> or <b class="xm__txtColor-secondary xm__txtStyle">.x-cols.m__count-2</b>
      </p>
   </div>
   <div class="x-cols xm__width">
      {% for avatar in['aguacate', 'cereza'] %}
         <a href="#" class="x-avatarAureo m__size-lg" >
            <img src="https://picsum.photos/seed/{{avatar}}/400/300" alt="Random" loading="lazy">
         </a>
      {% endfor %}
   </div>
   <div class="x-txt xm__txtAlignFlex-start">
      <h4>Displaying three columns</h4>
      <p>
         <b class="xm__txtColor-secondary xm__txtStyle">.x-cols.m__count-3</b>
      </p>
   </div>
   <div class="x-cols m__count-3 xm__width">
      {% for avatar in['aguacate', 'cereza', 'platano'] %}
         <a href="#" class="x-avatarAureo m__size-lg" >
            <img src="https://picsum.photos/seed/{{avatar}}/400/300" alt="Random" loading="lazy">
         </a>
      {% endfor %}
   </div>
</div>