@use "module";

// text align
//
// @group Modifiers
@mixin text-align {
	.#{module.$prefix__default}--txtAlign {
		// txtAlignFlx
		&Flx {
			&-right {
				@include module.extend-viewports-classes {
					@layer modifiers {
						& {
							align-items: flex-end;
						}
					}
					@layer defaults {
						* > * {
							// @defaults txtAlignFlx
							align-items: flex-end;
						}
					}
				}
			}
			&-center {
				@include module.extend-viewports-classes {
					@layer modifiers {
						& {
							align-items: center;
						}
					}
					@layer defaults {
						* > * {
							// @defaults txtAlignFlx
							align-items: center;
						}
					}
				}
			}
			&-justify {
				@include module.extend-viewports-classes {
					@layer modifiers {
						& {
							align-items: stretch;
						}
					}
					@layer defaults {
						* > * {
							// @defaults txtAlignFlx
							align-items: stretch;
						}
					}
				}
			}
			// default
			&,
			&-left {
				@include module.extend-viewports-classes {
					@layer modifiers {
						& {
							align-items: flex-start;
						}
					}
					@layer defaults {
						* > * {
							// @defaults txtAlignFlx
							align-items: flex-start;
						}
					}
				}
			}
			&,
			&-left,
			&-justify,
			&-center,
			&-right {
				@include module.extend-viewports-classes {
					flex-flow: column nowrap;
					justify-content: flex-start;
					&:not(table):not(thead):not(tbody) {
						// Gaping
						display: inline-flex;
					}
				}
			}
		}

		// txtAlign & txtAlignFlx
		&,
		&Flx {
			&-right {
				@include module.extend-viewports-classes {
					@layer modifiers {
						& {
							text-align: right;
						}
					}
					@layer defaults {
						* {
							// @defaults txtAlign
							text-align: right;
						}
					}
				}
			}
			&-center {
				@include module.extend-viewports-classes {
					@layer modifiers {
						& {
							text-align: center;
						}
					}
					@layer defaults {
						* {
							// @defaults txtAlign
							text-align: center;
						}
					}
				}
			}
			&-justify {
				@include module.extend-viewports-classes {
					@layer modifiers {
						& {
							text-align: justify;
						}
					}
					@layer defaults {
						* {
							// @defaults txtAlign
							text-align: justify;
						}
					}
				}
			}
			// default
			&,
			&-left {
				@include module.extend-viewports-classes {
					@layer modifiers {
						& {
							text-align: left;
						}
					}
					@layer defaults {
						* {
							// @defaults txtAlign
							text-align: left;
						}
					}
				}
			}
		}
	}
}
