@use "module";

// font weight
//
// @group Modifiers
@mixin text-weight {
	.#{module.$prefix__default}--txtWeight {
		@layer modifiers {
			&-bold {
				@include module.extend-viewports-classes {
					font-weight: module.weight(bold);
					@supports (-moz-appearance: none) {
						// firefox fix
						font-weight: module.weight(boldAlt);
					}
				}
			}
			&,
			&-regular {
				@include module.extend-viewports-classes {
					font-weight: module.weight();
					@supports (-moz-appearance: none) {
						// firefox fix
						font-weight: module.weight(regularAlt);
					}
				}
			}
		}
	}
}
