/** @format */

//
// inicia GLOBAL UNIONS
//

// flexbox shortcuts: Set justify-content & align-items

//  Justify Space between...
//
// @group GlobalUnions
.xu__flx-between {
	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			--fj: space-between;
		}
	}
}

//  Justify space around...
//
// @group GlobalUnions
.xu__flx-around {
	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			--fj: space-around;
		}
	}
}

//  Justify space evenly...
//
// @group GlobalUnions
.xu__flx-evenly {
	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			--fj: space-evenly;
		}
	}
}
.xu__flx-between,
.xu__flx-around,
.xu__flx-evenly {
	&-stretch {
		@include extend-viewports-classes {
			--fa: stretch;
		}
	}
	&-start {
		@include extend-viewports-classes {
			--fa: flex-start;
		}
	}
	&-end {
		@include extend-viewports-classes {
			--fa: flex-end;
		}
	}
	&-baseline {
		@include extend-viewports-classes {
			--fa: baseline;
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			--fa: center;
		}
	}
}

//  Justify flex start...
//
// @group GlobalUnions
.xu__flx-start {
	&-center {
		@include extend-viewports-classes {
			--fa: center;
		}
	}
	&-end {
		@include extend-viewports-classes {
			--fa: flex-end;
		}
	}
	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			--fj: flex-start;
		}
	}
	// default
	&,
	&-start {
		@include extend-viewports-classes {
			--fa: flex-start;
		}
	}
}

// Justify center...
//
// @group GlobalUnions
.xu__flx-center {
	&-start {
		@include extend-viewports-classes {
			--fa: flex-start;
		}
	}
	&-end {
		@include extend-viewports-classes {
			--fa: flex-end;
		}
	}
	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			--fj: center;
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			--fa: center;
		}
	}
}

// Justify flex-end...
//
// @group GlobalUnions
.xu__flx-end {
	&-start {
		@include extend-viewports-classes {
			--fa: flex-start;
		}
	}
	&-center {
		@include extend-viewports-classes {
			--fa: center;
		}
	}
	&,
	&-stretch,
	&-baseline,
	&-start,
	&-center,
	&-end {
		@include extend-viewports-classes {
			--fj: flex-end;
		}
	}
	// default
	&,
	&-end {
		@include extend-viewports-classes {
			--fa: flex-end;
		}
	}
}
.xu__flx-start,
.xu__flx-center,
.xu__flx-end {
	&-stretch {
		@include extend-viewports-classes {
			--fa: stretch;
		}
	}
	&-baseline {
		@include extend-viewports-classes {
			--fa: baseline;
		}
	}
}
[class*="u__flx-"]:not(.x-grd) {
	justify-content: var(--fj, initial);
}
.x-grd {
	&[class*="u__flx-"] {
		justify-items: var(--fj, initial);
	}
	&[class*="u__flx-"] > [class*="u__flx-"].xm__flxSelf,
	&:not([class*="u__flx-"]) > .xm__flxSelf {
		justify-self: var(--fj, initial);
		align-self: var(--fa, initial);
	}
}

[class*="u__flx-"],
.x-grd[class*="u__flx-"] {
	align-items: var(--fa, initial);
}
