/** @format */

///
/// inicia GLOBAL UNIONS
///

/// flexbox shortcuts: Set justify-content & align-items

///  Justify Space between...
///
/// @group GlobalUnions
.xu__flx-between {
	&-stretch {
		@include extend-viewports {
			align-items: stretch;
		}
	}
	&-start {
		@include extend-viewports {
			align-items: flex-start;
		}
	}
	&-end {
		@include extend-viewports {
			align-items: flex-end;
		}
	}
	&,
	&-stretch,
	&-start,
	&-center,
	&-end {
		@include extend-viewports {
			justify-content: space-between;
		}
	}
	/// default
	&,
	&-center {
		@include extend-viewports {
			align-items: center;
		}
	}
}

///  Justify space around...
///
/// @group GlobalUnions
.xu__flx-around {
	&-stretch {
		@include extend-viewports {
			align-items: stretch;
		}
	}
	&-start {
		@include extend-viewports {
			align-items: flex-start;
		}
	}
	&-end {
		@include extend-viewports {
			align-items: flex-end;
		}
	}
	&,
	&-stretch,
	&-start,
	&-center,
	&-end {
		@include extend-viewports {
			justify-content: space-around;
		}
	}
	/// default
	&,
	&-center {
		@include extend-viewports {
			align-items: center;
		}
	}
}

///  Justify flex start...
///
/// @group GlobalUnions
.xu__flx-start {
	&-stretch {
		@include extend-viewports {
			align-items: stretch;
		}
	}

	&-center {
		@include extend-viewports {
			align-items: center;
		}
	}
	&-end {
		@include extend-viewports {
			align-items: flex-end;
		}
	}
	&,
	&-stretch,
	&-start,
	&-center,
	&-end {
		@include extend-viewports {
			justify-content: flex-start;
		}
	}
	/// default
	&,
	&-start {
		@include extend-viewports {
			align-items: flex-start;
		}
	}
}

/// Justify center...
///
/// @group GlobalUnions
.xu__flx-center {
	&-stretch {
		@include extend-viewports {
			align-items: stretch;
		}
	}

	&-start {
		@include extend-viewports {
			align-items: flex-start;
		}
	}
	&-end {
		@include extend-viewports {
			align-items: flex-end;
		}
	}
	&,
	&-stretch,
	&-start,
	&-center,
	&-end {
		@include extend-viewports {
			justify-content: center;
		}
	}
	/// default
	&,
	&-center {
		@include extend-viewports {
			align-items: center;
		}
	}
}

/// Justify flex-end...
///
/// @group GlobalUnions
.xu__flx-end {
	&-stretch {
		@include extend-viewports {
			align-items: stretch;
		}
	}

	&-start {
		@include extend-viewports {
			align-items: flex-start;
		}
	}
	&-center {
		@include extend-viewports {
			align-items: center;
		}
	}
	&,
	&-stretch,
	&-start,
	&-center,
	&-end {
		@include extend-viewports {
			justify-content: flex-end;
		}
	}
	/// default
	&,
	&-end {
		@include extend-viewports {
			align-items: flex-end;
		}
	}
}
