/**
	MAIN STYLESHEET

	project definitions
	base layout ruling
	module concatenation
*/

@import "utils/module";

@media only screen {
	// @import "vendor/module"; // the vendors are independent in this built

	:root {
		@each $name, $font in $fonts {
			$font-index: index(($fonts), ($name $font));
			// font
			--f-#{$font-index}: #{$font};
		}
		@each $name, $color in $colors {
			$color-index: index(($colors), ($name $color));
			// hex
			--h-c#{$color-index}: #{$color};
			// rgb
			--r-c#{$color-index}: #{to-rgb($color)};
		}
	}

	// @import "fonts/module"; // this project uses google fonts

	@import "base/module";
	@import "base/global-modifiers/module"; // nested imports take longer to compile

	@import "pseudos/module";
	@import "components/module";
	@import "layouts/module";

	html {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 100%;
		font-weight: weight();
		text-rendering: optimizeLegibility;
		@supports (-moz-appearance: none) {
			// firefox fix, font weight bug
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-weight: weight(regular-alt);
		}
		&.is__modalOpen {
			overflow-y: hidden;
			@media (hover: hover) {
				box-sizing: border-box;
				border-right: 1rem solid color(light);
			}
		}
	}

	body {
		width: 100%;
		font-family: family(primary);
		font-size: size();
		overflow: hidden;
		@media (max-width: $viewportMd) and (hover: none) {
			@supports (-moz-appearance: none) {
				// firefox fix, scroll bug on android
				width: 100%;
				height: 100%;
				overflow-y: auto;
				overflow-x: hidden;
			}
		}
	}
	#appex {
		width: 100%;
		@include flexbox(column, nowrap, flex-start, stretch);
	}
}
