@use "../utils/module" as utils;

/// # Flexbox layout
/// Flexbox layout system
/// ```css
///  .flx
///
///  /** or inline */
///  .flx.--display-inline
/// ```
/// This layout makes use of the global flx union
///
/// ## Requirements:
/// None
///
/// ## Modifiers:
/// ### Row flex flow
/// Row direction and wrapping behavior.
/// ```css
///  .flx.--flxRow
///
///  /** it can be reversed */
///  .flx.--flxRowReverse
///
///  /** or allow content wrapping */
///  .flx.--flxRow-wrap
///  .flx.--flxRowReverse-wrap
/// ```
/// ### Column flex flow
/// Column direction and wrapping behavior.
/// ```css
///  .flx.--flxColumn
///
///  /** it can be reversed */
///  .flx.--flxColumnReverse
///
///  /** or allow content wrapping */
///  .flx.--flxColumn-wrap
///  .flx.--flxColumnReverse-wrap
/// ```
///
/// ## Unions:
/// None
///
/// @group layout-flex
/// @example njk
///  <div class="flx --flxColumn">
///   TODO: flexbox example
///  </div>

// flexbox container
@mixin flex {
	.#{utils.$layout__flexbox} {
		@include utils.extend-device-interactions {
			display: flex;
			&:not([class*="--gap"]) {
				// this already matches .--gaping classes
				gap: 1rem;
			}
		}

		// flexbox row container
		//
		// @group Modifiers
		&.#{utils.$prefix__default}--flxRow {
			&,
			&-wrap,
			&-reverse,
			&-nowrap {
				@include utils.extend-viewports-classes(
					true,
					utils.$viewports
				) {
					flex-direction: row;
				}
			}
		}
		&.#{utils.$prefix__default}--flxRowReverse {
			&,
			&-wrap,
			&-reverse,
			&-nowrap {
				@include utils.extend-viewports-classes(
					true,
					utils.$viewports
				) {
					flex-direction: row-reverse;
				}
			}
		}

		// flexbox flex container
		//
		// @group Modifiers
		&.#{utils.$prefix__default}--flxColumn {
			&,
			&-wrap,
			&-reverse,
			&-nowrap {
				@include utils.extend-viewports-classes(
					true,
					utils.$viewports
				) {
					flex-direction: column;
				}
			}
		}
		&.#{utils.$prefix__default}--flxColumnReverse {
			&,
			&-wrap,
			&-reverse,
			&-nowrap {
				@include utils.extend-viewports-classes(
					true,
					utils.$viewports
				) {
					flex-direction: column-reverse;
				}
			}
		}

		// an union could be a shorter solution, but is a huge breaking change
		&.#{utils.$prefix__default}--flxRow,
		&.#{utils.$prefix__default}--flxColumn,
		&.#{utils.$prefix__default}--flxRowReverse,
		&.#{utils.$prefix__default}--flxColumnReverse {
			&-wrap {
				@include utils.extend-viewports-classes(
					true,
					utils.$viewports
				) {
					flex-wrap: wrap;
				}
			}
			&-reverse {
				@include utils.extend-viewports-classes(
					true,
					utils.$viewports
				) {
					flex-wrap: wrap-reverse;
				}
			}
			// default
			&,
			&-nowrap {
				@include utils.extend-viewports-classes(
					true,
					utils.$viewports
				) {
					flex-wrap: nowrap;
				}
			}
		}
	}
}
