// float container
.float {
	@include extend-device-interactions {
		display: block;
		&:not([class*="-floatDir"]) {
			> *:not([class*="-float"]) {
				float: left;
			}
		}
	}

	&.--floatDir {
		&-right {
			@include extend-viewports-classes {
				> *:not([class*="-float"]) {
					float: right;
				}
			}
		}
		&,
		&-left {
			@include extend-viewports-classes {
				> *:not([class*="-float"]) {
					float: left;
				}
			}
		}
	}
}
