@use "../utils/module" as utils;

// Modal element
//
// @group Layouts
@mixin modal {
	.#{utils.$layout__modal} {
		overflow-x: hidden;
		overflow-y: auto;
		background: utils.color(light);
		box-shadow: 3px 3px 9px utils.color(dark, 0.3);
		box-sizing: border-box;
		max-width: 100%;
		max-height: 100%;

		// size
		&.#{utils.$prefix__default}--size-sm {
			padding: 1rem 1.333rem;
			border-radius: 0.5rem;
		}
		&:not([class*="--size"]),
		&.#{utils.$prefix__default}--size,
		&.#{utils.$prefix__default}--size-md {
			padding: 0.7rem 1rem;
			border-radius: 1.333rem;
		}
		&.#{utils.$prefix__default}--size-lg {
			padding: 1rem 1.333rem;
			border-radius: 1.667rem;
		}
	}
}
