@use "../utils/module" as utils;

// list element
//
// @name Columns
// @group Layouts
@mixin list {
	.#{utils.$status__toggleList} {
		display: block;
		@include utils.flex-box(row, nowrap, space-between, center);
		i.#{utils.$component__icon},
		.#{utils.$component__svg} {
			width: 1.8rem;
		}
	}

	nav.#{utils.$layout__list} {
		> input[type^="c"] {
			display: none;
		}
		&.#{utils.$status__isActive},
		> input[type^="c"]:checked ~ {
			.#{utils.$status__toggleList} {
				font-weight: utils.weight(bold);
				margin-bottom: 1rem;
				i.#{utils.$component__icon},
				.#{utils.$component__svg} {
					transform: rotate(180deg);
				}
			}
			.#{utils.$status__toggleList} + {
				ul.#{utils.$layout__list}-group,
				ol.#{utils.$layout__list}-group {
					max-height: none;
				}
			}
		}

		.#{utils.$status__toggleList} + {
			ul.#{utils.$layout__list}-group,
			ol.#{utils.$layout__list}-group {
				max-height: 0;
				overflow: hidden;
				> li {
					width: 100%;
				}
			}
		}
	}
	// .list-title
	span.#{utils.$layout__list}-title {
		display: block;
		margin-bottom: 1rem;
	}
	ul,
	ol {
		// .list-group
		&.#{utils.$layout__list}-group {
			overflow: visible;

			// flow direction
			//
			// @group Modifiers
			&.#{utils.$prefix__default}--flow-row {
				@include utils.flex-box(row, nowrap, flex-start, center);
				> li:not(:last-child) {
					margin-right: 1rem;
				}
			}
			// default flow
			&:not([class*="--flow"]),
			&.#{utils.$prefix__default}--flow-column {
				// Flow
				@include utils.flex-box(column, nowrap, flex-start, stretch);
				> *:not(:last-child) {
					margin-bottom: 0.5rem;
				}
			}

			> li {
				text-align: left;
				white-space: pre-line;

				@layer defaults {
					// @defaults txtAlign, txtWrap
					* {
						text-align: left;
						white-space: pre-line;
					}
				}

				a,
				label,
				button {
					line-height: utils.$size__lineHeightMedium;
				}
			}
		}
	}
}
