@use "../utils/module" as utils;

// Envuelve cada vista
//
// @name Columns
// @group Layouts

@mixin view {
	.#{utils.$layout__view} {
		@include utils.flex-box(column, nowrap, center, stretch);
	}

	// Define las diferentes secciones de cada vista
	//
	// @name Columns
	// @group Layouts

	.#{utils.$layout__view}-item {
		overflow: visible;
		height: auto;
		box-sizing: border-box;
		@include utils.flex-box(row, nowrap, center, stretch);

		// min height
		//
		// @group Modifiers
		@layer defaults {
			& {
				// @defaults minHeight
				min-height: 60vh;
			}
		}
		&.#{utils.$prefix__default}--minHeight-100 {
			min-height: calc(100vh - 5rem);

			@if (utils.$allow__responsive) {
				@media (max-device-width: utils.$mediaQuerie__tablet) {
					// mobile only
					min-height: calc(
						(100vh - 5rem) - 56px
					); // 56px: navigation bar
				}
			}
		}

		> .#{utils.$layout__holder} {
			@include utils.flex-box(column, nowrap, center, stretch);
			@layer defaults {
				> :not(:last-child) {
					// @defaults mBottom
					margin-bottom: 2rem;
				}
			}
		}
	}
}
