// box sizing
.xm__boxSizing {
	&-content {
		@include extend-viewports-classes {
			box-sizing: content-box;
		}
	}
	// default
	&,
	&-box {
		@include extend-viewports-classes {
			box-sizing: border-box;
		}
	}
}

// box margins
// X axis
//
// @group GlobalModifiers
.xm__mX {
	&-left {
		@include extend-viewports-classes {
			margin-left: 0;
			margin-right: auto;
		}
	}
	&-right {
		@include extend-viewports-classes {
			margin-left: auto;
			margin-right: 0;
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// box margins
// Y axis
//
// @group GlobalModifiers
.xm__mY {
	&-top {
		@include extend-viewports-classes {
			margin-top: 0;
			margin-bottom: auto;
		}
	}
	&-bottom {
		@include extend-viewports-classes {
			margin-top: auto;
			margin-bottom: 0;
		}
	}
	// default, not usual but there is cases where it works
	&,
	&-center {
		@include extend-viewports-classes {
			margin-top: auto;
			margin-bottom: auto;
		}
	}
}

// box model: margin & padding
//
// @group GlobalModifiers
$models: margin, padding;
@each $model in $models {
	$m: str-slice($model, 1, 1);
	// default: all sides
	// margin & padding already have defaults for X & Y axles
	.xm__#{$model},
	.xm__#{$m} {
		@include extend-viewports-classes {
			#{$model}: 1rem;
		}
	}

	// X axis
	.xm__#{$m}X {
		#{$model}-left: 1rem;
		#{$model}-right: 1rem;
	}

	// Y axis
	.xm__#{$m}Y {
		#{$model}-top: 1rem;
		#{$model}-bottom: 1rem;
	}

	@for $i from 1 through 20 {
		// all sides
		.xm__#{$m}-#{$i*5} {
			@include extend-viewports-classes {
				#{$model}: #{$i/3}rem;
			}
		}
		// X axis
		.xm__#{$m}X-#{$i*5} {
			@include extend-viewports-classes {
				#{$model}-left: #{$i/3}rem;
				#{$model}-right: #{$i/3}rem;
			}
		}
		// Y axis
		.xm__#{$m}Y-#{$i*5} {
			@include extend-viewports-classes {
				#{$model}-top: #{$i/3}rem;
				#{$model}-bottom: #{$i/3}rem;
			}
		}
	}

	// model directions
	//
	// @group GlobalModifiers
	$directions: top, right, bottom, left;
	@each $direction in $directions {
		$mcd: $m + capitalize($direction);

		// model direction defaults
		.xm__#{$mcd} {
			@include extend-viewports-classes {
				#{$model}-#{$direction}: 1rem;
			}
		}

		@for $i from 1 through 20 {
			.xm__#{$mcd}-#{$i * 5} {
				@include extend-viewports-classes {
					#{$model}-#{$direction}: #{$i/3}rem;
				}
			}
		}
	}
}
