// Dimensions
$dimensions: width, height;
@each $dimension in $dimensions {
	// width, height
	//
	// @group GlobalModifiers
	.xm__#{$dimension} {
		&-quarter {
			@include extend-viewports-classes {
				#{$dimension}: 25%;
			}
		}
		&-third {
			@include extend-viewports-classes {
				#{$dimension}: 33%;
			}
		}
		&-half {
			@include extend-viewports-classes {
				#{$dimension}: 50%;
			}
		}
		&-auto {
			@include extend-viewports-classes {
				#{$dimension}: auto;
			}
		}
		&,
		&-full {
			@include extend-viewports-classes {
				#{$dimension}: 100%;
			}
		}
	}

	// max width, max height
	$constrains: min, max;
	@each $constrain in $constrains {
		$dc: $constrain + capitalize($dimension);
		// default pixel based constrains
		.xm__#{$dc},
		.xm__#{$dc}-1200 {
			$mildos: 1200;
			@include extend-viewports-classes {
				#{$constrain}-#{$dimension}: #{round($mildos/16)}rem;
			}
		}

		// pixel based
		//
		// @group GlobalModifiers
		$maxSizes: 1400, 1300, 1080, 980, 880, 780, 580, 480, 440, 220, 180;
		@each $size in $maxSizes {
			.xm__#{$dc}-#{$size} {
				@include extend-viewports-classes {
					#{$constrain}-#{$dimension}: #{round($size/15)}rem;
				}
			}
		}

		// default viewport based constrains
		// __maxW, __maxH, __minW, __minH
		.xm__#{$dc}Vw {
			@include extend-viewports-classes {
				#{$constrain}-#{$dimension}: 25vw;
			}
		}
		.xm__#{$dc}Vh {
			@include extend-viewports-classes {
				#{$constrain}-#{$dimension}: 25vh;
			}
		}

		// min width, max width
		// viewport width based
		//
		// @group GlobalModifiers
		@for $i from 3 through 10 {
			.xm__#{$dc}Vw-#{$i*10} {
				@include extend-viewports-classes {
					#{$constrain}-#{$dimension}: #{$i * 10}vw;
				}
			}
			.xm__#{$dc}Vh-#{$i*10} {
				@include extend-viewports-classes {
					#{$constrain}-#{$dimension}: #{$i * 10}vh;
				}
			}
		}
	}
}
