// flex growth and shrink
//
// @group GlobalModifiers
.xm__flx {
	&-fit {
		@include extend-viewports-classes {
			flex: 0 0 auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&,
	&-auto {
		@include extend-viewports-classes {
			flex: 1 1 auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

// flexbox justify content
//
// @group GlobalModifiers
.xm__flxJustify {
	&-end {
		@include extend-viewports-classes {
			--fj: flex-end;
		}
	}
	&-start {
		@include extend-viewports-classes {
			--fj: flex-start;
		}
	}
	&-around {
		@include extend-viewports-classes {
			--fj: space-around;
		}
	}
	&-evenly {
		@include extend-viewports-classes {
			--fj: space-evenly;
		}
	}
	&-between {
		@include extend-viewports-classes {
			--fj: space-between;
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			--fj: center;
		}
	}
}
[class*="__flxJu"] {
	justify-content: var(--fj, initial);
}

// flexbox align items
//
// @group GlobalModifiers
.xm__flxAlign {
	&-end {
		@include extend-viewports-classes {
			--fa: flex-end;
		}
	}
	&-start {
		@include extend-viewports-classes {
			--fa: flex-start;
		}
	}
	&-stretch {
		@include extend-viewports-classes {
			--fa: stretch;
		}
	}
	&-baseline {
		@include extend-viewports-classes {
			--fa: baseline;
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			--fa: center;
		}
	}
}
[class*="__flxA"] {
	align-items: var(--fa, initial);
}
