// flex growth and shrink
//
// @group GlobalModifiers
.xm__flx {
	&-fit {
		@include extend-viewports-classes {
			flex: 0 0 auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&,
	&-auto {
		@include extend-viewports-classes {
			flex: 1 1 auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

// flexbox justify content
//
// @group GlobalModifiers
.xm__flxJustify {
	&-end {
		@include extend-viewports-classes {
			justify-content: flex-end;
		}
	}
	&-start {
		@include extend-viewports-classes {
			justify-content: flex-start;
		}
	}
	&-around {
		@include extend-viewports-classes {
			justify-content: space-around;
		}
	}
	&-evenly {
		@include extend-viewports-classes {
			justify-content: space-evenly;
		}
	}
	&-between {
		@include extend-viewports-classes {
			justify-content: space-between;
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			justify-content: center;
		}
	}
}

// flexbox align items
//
// @group GlobalModifiers
.xm__flxAlign {
	&-end {
		@include extend-viewports-classes {
			align-items: flex-end;
		}
	}
	&-start {
		@include extend-viewports-classes {
			align-items: flex-start;
		}
	}
	&-stretch {
		@include extend-viewports-classes {
			align-items: stretch;
		}
	}
	&-baseline {
		@include extend-viewports-classes {
			align-items: baseline;
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			align-items: center;
		}
	}
}
