// flex growth and shrink
//
// @group GlobalModifiers
.xm__flx {
	&-fit {
		@include extend-viewports-classes {
			flex: 0 0 auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&,
	&-auto {
		@include extend-viewports-classes {
			flex: 1 1 auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

// flexbox justify content
//
// @group GlobalModifiers
.xm__flxJustify {
	&-end {
		@include extend-viewports-classes {
			&:not(.x-grd):not(.xm__flxSelf) {
				justify-content: flex-end;
			}
			&.x-grd {
				justify-items: flex-end;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				justify-self: flex-end;
			}
		}
	}
	&-start {
		@include extend-viewports-classes {
			&:not(.x-grd):not(.xm__flxSelf) {
				justify-content: flex-start;
			}
			&.x-grd {
				justify-items: flex-start;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				justify-self: flex-start;
			}
		}
	}
	&-around {
		@include extend-viewports-classes {
			&:not(.x-grd):not(.xm__flxSelf) {
				justify-content: space-around;
			}
			&.x-grd {
				justify-items: space-around;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				justify-self: space-around;
			}
		}
	}
	&-evenly {
		@include extend-viewports-classes {
			&:not(.x-grd):not(.xm__flxSelf) {
				justify-content: space-around; // for unsupported browsers
				justify-content: space-evenly;
			}
			&.x-grd {
				justify-items: space-around; // for unsupported browsers
				justify-items: space-evenly;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				justify-self: space-around; // for unsupported browsers
				justify-self: space-evenly;
			}
		}
	}
	&-between {
		@include extend-viewports-classes {
			&:not(.x-grd):not(.xm__flxSelf) {
				justify-content: space-between;
			}
			&.x-grd {
				justify-items: space-between;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				justify-self: space-between;
			}
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			&:not(.x-grd):not(.xm__flxSelf) {
				justify-content: center;
			}
			&.x-grd {
				justify-items: center;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				justify-self: center;
			}
		}
	}
}

// flexbox align items
//
// @group GlobalModifiers
.xm__flxAlign {
	&-end {
		@include extend-viewports-classes {
			&:not(.xm__flxSelf) {
				align-items: flex-end;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				align-self: flex-end;
			}
		}
	}
	&-start {
		@include extend-viewports-classes {
			&:not(.xm__flxSelf) {
				align-items: flex-start;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				align-self: flex-start;
			}
		}
	}
	&-stretch {
		@include extend-viewports-classes {
			&:not(.xm__flxSelf) {
				align-items: stretch;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				align-self: stretch;
			}
		}
	}
	&-baseline {
		@include extend-viewports-classes {
			&:not(.xm__flxSelf) {
				align-items: baseline;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				align-self: baseline;
			}
		}
	}
	// default
	&,
	&-center {
		@include extend-viewports-classes {
			&:not(.xm__flxSelf) {
				align-items: center;
			}
			&.x-grd > .xm__flxSelf,
			&.xm__flxSelf {
				align-self: center;
			}
		}
	}
}
