// grid Gap
// both dimension
//
// @group GlobalModifiers
// gap using margin
// both axis
// this class applies to any container, not just flex containers, so it can't be polyfilled
//
// @group GlobalModifiers
.xm__gap {
	// flex, column & grid only
	@include extend-viewports-classes {
		gap: 1rem;
	}
	&-none {
		@include extend-viewports-classes {
			gap: 0;
		}
	}
}
.xm__gapX {
	// flex, column & grid only, X axis
	@include extend-viewports-classes {
		column-gap: 1rem;
	}
	&-none {
		@include extend-viewports-classes {
			column-gap: 0;
		}
	}
}
.xm__gapY {
	// flex, column & grid only, Y axis
	@include extend-viewports-classes {
		row-gap: 1rem;
	}
	&-none {
		@include extend-viewports-classes {
			row-gap: 0;
		}
	}
}

.xm__gaping {
	@include extend-viewports-classes {
		--g: 1rem;
	}
	&-none {
		@include extend-viewports-classes {
			> * {
				--g: 0;
			}
		}
	}
}
.xm__gapingX {
	// X dimension
	@include extend-viewports-classes {
		> * {
			--gx: 1rem;
		}
	}
	&-none {
		@include extend-viewports-classes {
			> * {
				--gx: 0;
			}
		}
	}
}
.xm__gapingY {
	// Y dimension
	@include extend-viewports-classes {
		> * {
			--gy: 1rem;
		}
	}
	&-none {
		@include extend-viewports-classes {
			> * {
				--gy: 0;
			}
		}
	}
}

@for $i from 1 through 10 {
	// grid Gap, future flex gap
	.xm__gap-#{$i*5} {
		// flex, column & grid only
		@include extend-viewports-classes {
			gap: #{$i/3}rem;
		}
	}
	.xm__gapX-#{$i*5} {
		// flex, column & grid only, X axis
		@include extend-viewports-classes {
			column-gap: #{$i/3}rem;
		}
	}
	.xm__gapY-#{$i*5} {
		// flex, column & grid only, Y axis
		@include extend-viewports-classes {
			row-gap: #{$i/3}rem;
		}
	}

	// Gaping
	// Fallback for gap on non supporting browsers
	.xm__gaping-#{$i*5} {
		@include extend-viewports-classes {
			margin: 0 -#{$i/3}rem -#{$i/3}rem 0;
			> * {
				margin: 0 #{$i/3}rem #{$i/3}rem 0;
			}
		}
	}
	.xm__gapingX-#{$i*5} {
		@include extend-viewports-classes {
			> *:not(:last-child) {
				margin-right: #{$i/3}rem;
			}
		}
	}
	.xm__gapingY-#{$i*5} {
		@include extend-viewports-classes {
			> *:not(:last-child) {
				margin-bottom: #{$i/3}rem;
			}
		}
	}
}
