// text tranform
//
// @group GlobalModifiers
.xm__txtTransform {
	&-lower,
	&-lowercase {
		@include extend-viewports-classes {
			text-transform: lowercase;
		}
	}
	&-upper,
	&-uppercase {
		@include extend-viewports-classes {
			text-transform: uppercase;
		}
	}
	&-capitalize {
		@include extend-viewports-classes {
			text-transform: capitalize;
		}
	}
	// default
	&,
	&-none {
		@include extend-viewports-classes {
			text-transform: none;
		}
	}
}

// text wrap
//
// @group GlobalModifiers
.xm__txtWrap {
	&-nowrap {
		@include extend-viewports-classes {
			white-space: nowrap;
		}
	}
	// default
	&,
	&-wrap {
		@include extend-viewports-classes {
			white-space: normal;
		}
	}
}

// text style
//
// @group GlobalModifiers
.xm__txtStyle {
	&-normal {
		@include extend-viewports-classes {
			font-style: normal;
		}
	}
	&-oblique {
		@include extend-viewports-classes {
			font-style: oblique;
		}
	}
	// default
	&,
	&-italic {
		@include extend-viewports-classes {
			font-style: italic;
		}
	}
}

// font weight
//
// @group GlobalModifiers
.xm__txtWeight {
	&-bold {
		@include extend-viewports-classes {
			font-weight: weight(bold);
			@supports (-moz-appearance: none) {
				// firefox fix
				font-weight: weight(bold-alt);
			}
		}
	}
	&,
	&-regular {
		@include extend-viewports-classes {
			font-weight: weight();
			@supports (-moz-appearance: none) {
				// firefox fix
				font-weight: weight(regular-alt);
			}
		}
	}
}

// text align
//
// @group FamilyGlobalModifiers
.xm__txtAlign {
	&,
	&-left,
	&-justify,
	&-center,
	&-right {
		@include extend-viewports-classes {
			&:not([class|="x"]):not(table):not(thead):not(tbody) {
				// Gaping
				display: inline-block;
			}
			&,
			> :not(p):not([class*="_txtA"]):not([class|="x"]) {
				display: inline-flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
			}
		}
	}
}

// text align flex
//
// @group FamilyGlobalModifiers
.xm__txtAlignFlx {
	&-right {
		@include extend-viewports-classes {
			&,
			> :not(p):not([class*="_txtA"]):not([class|="x"]) {
				align-items: flex-end;
			}
		}
	}
	&-center {
		@include extend-viewports-classes {
			&,
			> :not(p):not([class*="_txtA"]):not([class|="x"]) {
				align-items: center;
			}
		}
	}
	&-justify {
		@include extend-viewports-classes {
			&,
			> :not(p):not([class*="_txtA"]):not([class|="x"]) {
				align-items: stretch;
			}
		}
	}
	// default
	&,
	&-left {
		@include extend-viewports-classes {
			&,
			> :not(p):not([class*="_txtA"]):not([class|="x"]) {
				align-items: flex-start;
			}
		}
	}
}

// text align
//
// @group FamilyGlobalModifiers
.xm__txtAlign,
.xm__txtAlignFlx {
	&-right {
		@include extend-viewports-classes {
			text-align: right;
		}
	}
	&-center {
		@include extend-viewports-classes {
			text-align: center;
		}
	}
	&-justify {
		@include extend-viewports-classes {
			text-align: justify;
		}
	}
	// default
	&,
	&-left {
		@include extend-viewports-classes {
			text-align: left;
		}
	}
}

// text size
//
// @group GlobalModifiers
.xm__txtSize,
.xm__txtSize-normal {
	@include extend-viewports-classes {
		font-size: size();
	}
}
@each $name, $size in $fontSizes {
	.xm__txtSize-#{$name} {
		@include extend-viewports-classes {
			font-size: $size;
		}
	}
}

// COLOR RELATED

// Text color
.xm__txtColor {
	&,
	> :not([class*="_txtCo"]):not([class|="x"]) {
		// Color
		color: color(dark, 0.7);
	}
}

// Shadow color
.xm__txtShadow {
	&,
	> :not([class*="_txtSh"]):not([class|="x"]) {
		// Shadow
		text-shadow: 1px 1px 1px color(dark, 0.3);
	}
}

// text color & text shadow & background color & borderColor
// color based modifiers
//
// @group ColorGlobalModifiers
@each $name, $color in $colors {
	// text color
	.xm__txtColor-#{$name} {
		@include extend-viewports-classes {
			&,
			> :not([class*="_txtCo"]):not([class|="x"]) {
				// Color
				color: color($name);
			}
		}
	}

	// text shadow
	.xm__txtShadow-#{$name} {
		@include extend-viewports-classes {
			&,
			> :not([class*="_txtSh"]):not([class|="x"]) {
				// Shadow
				text-shadow: 1px 1px 1px color($name);
			}
		}
	}

	// shades of color
	@for $i from 1 through 9 {
		// text color
		.xm__txtColor-#{$name}#{$i} {
			@include extend-viewports-classes {
				&,
				> :not([class*="_txtCo"]):not([class|="x"]) {
					// Shadow
					color: color($name, $i/10);
				}
			}
		}

		// text shadow
		.xm__txtShadow-#{$name}#{$i} {
			@include extend-viewports-classes {
				&,
				> :not([class*="_txtSh"]):not([class|="x"]) {
					// Shadow
					text-shadow: 1px 1px 1px color($name, $i/10);
				}
			}
		}
	}
}
