@use "../utils/module" as utils;
@use "sass:math";

/// # Animations
/// Animations are also taken into account.\
/// They are his own kind of component so all animations comes with a shared set of classes to alter them.
///
/// **.a-animationName{}**
/// ```css
///  .a-fadeIn{}
/// ```
///
/// ## Animated status:
/// Animations by default should be disabled unless the activation status is provided.\
/// Without this class no animation will run.
///
/// **.a-animationName.is--animated{}**
/// ```css
///  .a-fadeIn.is--animated{}
/// ```
/// This status is very powerfull & comes with his own set of modifiers
///
/// ## Animated delay:
/// How much time needs to happen before the animation starts.\
/// Measured in tenths of a second
/// It goes from 0.1s as **"1"** to 2s as **"20"**
///
/// **.is--animated.--delay-value{}**
/// ```css
///  .is--animated.--delay-2 {
///      animation-delay: 0.2s;
///  }
/// ```
///
/// ## Animated iterations:
/// Amount of times an animation needs to repeat itself
/// Allowed values are **"infinite"** or a range from 1 to 20
///
/// **.is--animated.--iterations--value{}**
/// ```css
///  .is--animated.--iterations-2 {
///      animation-iteration-count: 2;
///  }
/// ```
///
/// @group animations
/// @example njk
///  <div class="flx --flxColumn">
///   TODO: animation example
///  </div>

@mixin animations {
	// inicia animations
	//
	// @group Status
	.#{utils.$prefix__defaultWithSeparator}is--animated {
		&,
		&:before,
		&:after {
			-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
			animation-fill-mode: forwards;
			animation-timing-function: ease-out;
		}

		&.#{utils.$prefix__default}--iterations-infinite {
			animation-iteration-count: infinite;
		}

		@for $i from 1 through 20 {
			&.#{utils.$prefix__default}--delay-#{$i} {
				animation-delay: #{math.div($i, 10)}s;
			}
			&.#{utils.$prefix__default}--iterations-#{$i} {
				animation-iteration-count: #{$i};
			}
		}
	}

	// animate only on pc
	@media (hover: hover) {
		// grows from the center
		//
		// @group Animations
		.#{utils.$prefix__defaultWithSeparator}a-growingIn {
			max-height: 0;
			// opacity: 0;
			// transform: translateY(-5vh);
			&.#{utils.$prefix__defaultWithSeparator}is--animated {
				animation-name: growingIn;
				animation-duration: 6s;
			}
		}

		// fades from the center
		//
		// @group Animations
		.#{utils.$prefix__defaultWithSeparator}a-fadeIn {
			opacity: 0;
			// transform: translateY(-5vh);
			&.#{utils.$prefix__defaultWithSeparator}is--animated {
				animation-name: fadeIn;
				animation-duration: 1.2s;
			}
		}

		// grows from the top
		//
		// @group Animations
		.#{utils.$prefix__defaultWithSeparator}a-topFade {
			opacity: 0;
			transform: translateY(-5vh);
			&.#{utils.$prefix__defaultWithSeparator}is--animated {
				animation-name: topFade;
				animation-duration: 0.6s;
			}
		}

		// grows from the bottom
		//
		// @group Animations
		.#{utils.$prefix__defaultWithSeparator}a-bottomFade {
			opacity: 0;
			transform: translateY(5vh);
			&.#{utils.$prefix__defaultWithSeparator}is--animated {
				animation-name: bottomFade;
				animation-duration: 0.6s;
			}
		}

		// grows from the left
		//
		// @group Animations
		.#{utils.$prefix__defaultWithSeparator}a-leftFade {
			opacity: 0;
			transform: translateX(-5vh);
			&.#{utils.$prefix__defaultWithSeparator}is--animated {
				animation-name: leftFade;
				animation-duration: 0.6s;
			}
		}

		// grows from the right
		//
		// @group Animations
		.#{utils.$prefix__defaultWithSeparator}a-rightFade {
			opacity: 0;
			transform: translateX(5vh);
			&.#{utils.$prefix__defaultWithSeparator}is--animated {
				animation-name: rightFade;
				animation-duration: 0.6s;
			}
		}
	}
	@media (prefers-reduced-motion: reduce) {
		*,
		*:before,
		*:after {
			animation-duration: 0.001s !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.001s !important;
		}
	}

	@keyframes growingIn {
		0% {
		}
		100% {
			// opacity: 1;
			max-height: 1000px;
			overflow: visible;
			// transform: translateY(0);
		}
	}
	@keyframes fadeIn {
		0% {
		}
		100% {
			opacity: 1;
			// transform: translateY(0);
		}
	}
	@keyframes topFade {
		0% {
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes bottomFade {
		0% {
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes leftFade {
		0% {
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes rightFade {
		0% {
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
