@use "../utils/module" as utils;

// Style System definitions
// Use this if your working with the whole system
// Avoild if you already have your styles setup and just are using some modules
//
// @group Base
@mixin initialize {
	::selection {
		background: utils.color(secondary);
		color: utils.color(light);
	}

	* {
		line-height: utils.$size__lineHeight;
	}

	h1:not([class*="--txtSize"]):not([class*="swal"]) {
		// Size
		font-size: utils.size(xl);
		br {
			display: none;
		}
		@if (utils.$toggle__responsive) {
			@media (min-width: (utils.$mediaQuerie__tablet + 1)) {
				font-size: utils.size(xx);
				br {
					display: inline;
				}
			}
		}
	}
	h2:not([class*="--txtSize"]):not([class*="swal"]) {
		// Size
		font-size: utils.size(lg);
		br {
			display: none;
		}
		@if (utils.$toggle__responsive) {
			@media (min-width: (utils.$mediaQuerie__tablet + 1)) {
				font-size: utils.size(xl);
				br {
					display: inline;
				}
			}
		}
	}
	h3:not([class*="--txtSize"]):not([class*="swal"]) {
		// Size
		font-size: utils.size(lg);
	}
	h4:not([class*="--txtSize"]):not([class*="swal"]) {
		// Size
		font-size: utils.size(md);
	}

	code {
		font-family: utils.family(codeBlocks);
	}

	// broken asset fallback styles
	img,
	iframe {
		display: block;
		overflow: hidden;
		color: utils.color(light);
		&:not([class*="--bgColor"]) {
			// Color
			@include utils.linear-gradient(135deg, #d4d4d4 0, #00b6ff 500%);
		}

		&:before {
			content: "\f7a9";
			font-family: utils.family(icons);
			font-weight: 900;
			color: utils.color(danger);
			font-size: utils.size(xx);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			padding: 1rem;
			box-sizing: border-box;
			@include utils.flex-box(column, nowrap, center, center);
		}
	}

	:not([class*="--txtWeight"]) > {
		a,
		b,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		th,
		button,
		strong {
			// ignore inherit
			&:not([class*="--txtWeight"]) {
				// Weight
				font-weight: utils.weight(bold);
				@supports (-moz-appearance: none) {
					// firefox fix
					font-weight: utils.weight(bold-alt);
				}
			}
		}
	}

	html {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 95%;
		font-weight: utils.weight();
		@supports (-moz-appearance: none) {
			// firefox fix, font weight bug
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-weight: utils.weight(regular-alt);
		}

		// Dinamically switch UI size
		@media (hover: none) {
			@if (utils.$toggle__responsive) {
				@media (max-width: utils.$mediaQuerie__tv) {
					font-size: 100%;
				}
				@media (max-width: utils.$mediaQuerie__desktop) {
					font-size: 105%;
				}
				@media (max-width: utils.$mediaQuerie__tablet) {
					font-size: 110%;
				}
				@media (max-width: utils.$mediaQuerie__smartphone) {
					font-size: 115%;
				}
				@media (max-width: utils.$mediaQuerie__smartwatch) {
					font-size: 120%;
				}
			}
		}
	}

	body {
		width: 100%;
		font-family: utils.family(default);
		font-size: utils.size();
		overflow: hidden;
		@if (utils.$toggle__responsive) {
			@media (max-width: utils.$mediaQuerie__tablet) and (hover: none) {
				@supports (-moz-appearance: none) {
					// firefox fix, scroll bug on android
					width: 100%;
					height: 100%;
					overflow-y: auto;
					overflow-x: hidden;
				}
			}
		}
	}
}
